In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

iris = load_iris()
# Tranform to DataFrame 
iris_df = pd.DataFrame(iris.data)
# Attach the column names
iris_df.columns = iris.feature_names
#目的変数に相当
iris_df['Targets name']= iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Targets name
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [58]:
#前処理
# Find the number of  cathegories for the goal variables
iris_df['Targets name'].value_counts()

2    50
1    50
0    50
Name: Targets name, dtype: int64

In [59]:
#look for undefined values
iris_df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
Targets name         0
dtype: int64

In [60]:
# look for correlations
iris_df.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Targets name
sepal length (cm),1.000000,-0.117570,0.871754,0.817941,0.782561
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126,-0.426658
petal length (cm),0.871754,-0.428440,1.000000,0.962865,0.949035
petal width (cm),0.817941,-0.366126,0.962865,1.000000,0.956547
Targets name,0.782561,-0.426658,0.949035,0.956547,1.000000

In [62]:
# rename the columns for practical purposes
iris_df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width','Targets_name']

In [64]:
# パラメーターの羅列（られつ） list the hyperparameter and merge with grid search algorithm

clf = RandomForestClassifier()
#hyperparameters 
params = {'n_estimators':[10,20,30], 'max_depth':[1,5,10], 'random_state':[0]}
# define test and learning variables
x_iris= iris_df.iloc[:,:-1]

y_iris = iris_df['Targets_name']

cv_iris = GridSearchCV(clf, params, cv=10, n_jobs=-1, scoring='accuracy')
cv_iris.fit(x_iris, y_iris)
print('finished')

finished

In [65]:
# visualize the results 
re = pd.DataFrame(cv_iris.cv_results_)
re = re.drop('params', axis =1)
re.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,param_random_state,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.032974,0.006220,0.006231,0.005604,1,10,0,1.000000,0.933333,1.0,0.933333,0.666667,0.666667,0.866667,0.933333,1.0,1.000000,0.900000,0.123828,7
1,0.053777,0.014189,0.003776,0.000527,1,20,0,0.733333,0.800000,0.8,0.866667,0.666667,0.666667,0.933333,0.800000,0.8,0.733333,0.780000,0.079162,9
2,0.052643,0.003188,0.004205,0.000428,1,30,0,0.933333,0.866667,1.0,1.000000,0.666667,0.866667,0.866667,0.800000,0.8,0.733333,0.853333,0.102415,8
3,0.019904,0.003150,0.002686,0.000615,5,10,0,1.000000,0.933333,1.0,0.933333,0.933333,0.933333,0.933333,0.933333,1.0,1.000000,0.960000,0.032660,1
4,0.038304,0.001354,0.003614,0.000286,5,20,0,1.000000,0.933333,1.0,0.933333,0.933333,0.933333,0.933333,0.933333,1.0,1.000000,0.960000,0.032660,1

In [66]:
# look for the best parameters set.
# 正答率を確認すると, max_depth = 5から10, estimators　= 10から20くらいの値が良さそう !

cv_iris.best_params_

{'max_depth': 5, 'n_estimators': 10, 'random_state': 0}

In [68]:
cv_iris.cv_results_['params']

[{'max_depth': 1, 'n_estimators': 10, 'random_state': 0},
 {'max_depth': 1, 'n_estimators': 20, 'random_state': 0},
 {'max_depth': 1, 'n_estimators': 30, 'random_state': 0},
 {'max_depth': 5, 'n_estimators': 10, 'random_state': 0},
 {'max_depth': 5, 'n_estimators': 20, 'random_state': 0},
 {'max_depth': 5, 'n_estimators': 30, 'random_state': 0},
 {'max_depth': 10, 'n_estimators': 10, 'random_state': 0},
 {'max_depth': 10, 'n_estimators': 20, 'random_state': 0},
 {'max_depth': 10, 'n_estimators': 30, 'random_state': 0}]

In [69]:
cv_iris.cv_results_['mean_test_score']

array([0.9       , 0.78      , 0.85333333, 0.96      , 0.96      ,
       0.96      , 0.96      , 0.96      , 0.96      ])

In [70]:
# reset the hyperparameters
params2 = {'n_estimators' : [10,15,20], 'max_depth':[5,7,9], 'random_state':[0,1]}
cv_iris2 = GridSearchCV(clf, params2, cv = 10, n_jobs=-1, scoring='accuracy')
cv_iris2.fit(x_iris,y_iris)
print('improved Grid Search finished')

improved Grid Search finished

In [71]:
cv_iris2.cv_results_['mean_test_score']

array([0.96      , 0.95333333, 0.96      , 0.95333333, 0.96      ,
       0.94666667, 0.96      , 0.95333333, 0.96      , 0.94666667,
       0.96      , 0.94666667, 0.96      , 0.95333333, 0.96      ,
       0.94666667, 0.96      , 0.95333333])

In [75]:
cv_iris2.best_params_

{'max_depth': 5, 'n_estimators': 10, 'random_state': 0}

In [80]:
#svm solution support vector machine
from sklearn import svm

params3 ={'C':[0.01,0.1,1,10], 'gamma':[0.01,0.1,1,10], 'random_state':[0]}
clf3 = svm.SVC()
clf3.fit(x_iris, y_iris)
cv_iris3 = GridSearchCV(clf,params3, cv=10, n_jobs= -1, scoring='accuracy' )
cv_iris3.fit(x_iris,y_iris)

print('train_score', clf3.score(x_iris, y_iris))
print('mean test score', cv_iris3.cv_results_['mean_test_score'])

# for low dimension  data bases svm has a better perfomance

train_score 0.9866666666666667
mean test score [0.90666667 0.93333333 0.96       0.77333333 0.90666667 0.94666667
 0.96666667 0.77333333 0.94       0.97333333 0.97333333 0.93333333
 0.98       0.98       0.95333333 0.94      ]