

# Pythonデータ分析入門（サッカーデータ）

## 1.ライブラリとデータの読み込み

In [3]:
#必要ライブラリの読み込み
import pandas as pd
import sklearn

#データの読み込み
df = pd.read_csv("International_football_results.csv")
print(df)

             date home_team    away_team  home_score  away_score tournament  \
0      1872-11-30  Scotland      England           0           0   Friendly
1      1873-03-08   England     Scotland           4           2   Friendly
2      1874-03-07  Scotland      England           2           1   Friendly
3      1875-03-06   England     Scotland           2           2   Friendly
4      1876-03-04  Scotland      England           3           0   Friendly
...           ...       ...          ...         ...         ...        ...
39003  2018-06-04     Italy  Netherlands           1           1   Friendly
39004  2018-06-04    Serbia        Chile           0           1   Friendly
39005  2018-06-04  Slovakia      Morocco           1           2   Friendly
39006  2018-06-04   Armenia      Moldova           0           0   Friendly
39007  2018-06-04     India        Kenya           3           0   Friendly

          city      country  neutral
0      Glasgow     Scotland    False
1       London      England    False
2      Glasgow     Scotland    False
3       London      England    False
4      Glasgow     Scotland    False
...        ...          ...      ...
39003    Turin        Italy    False
39004     Graz      Austria     True
39005   Geneva  Switzerland     True
39006  Kematen      Austria     True
39007   Mumbai        India    False

[39008 rows x 9 columns]

## 2.データの確認

In [6]:
#最初の5行だけ表示
print(df.head(6))

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow
5  1876-03-25  Scotland     Wales           4           0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False
5  Scotland    False

In [3]:
#データの情報を表示
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39008 entries, 0 to 39007
Data columns (total 9 columns):
date          39008 non-null object
home_team     39008 non-null object
away_team     39008 non-null object
home_score    39008 non-null int64
away_score    39008 non-null int64
tournament    39008 non-null object
city          39008 non-null object
country       39008 non-null object
neutral       39008 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.4+ MB
None

In [4]:
#データの形を確認
print(df.shape[0])

#列名の表示
print(df.columns)

#行名の表示
print(df.index)

#データの縦の長さをチェック（行数）
print(len(df))

39008
Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')
RangeIndex(start=0, stop=39008, step=1)
39008

In [5]:
#データの形を確認
print(df.shape)

#列名の表示
print(df.columns)

#行名の表示
print(df.index)

#データの縦の長さをチェック（行数）
print(len(df))

(39008, 9)
Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')
RangeIndex(start=0, stop=39008, step=1)
39008

## データフレームから情報を取り出す

### 列名で列を取り出す

In [6]:
#1列の場合
print(df.home_team) #列名がhome_teamの列を抽出
print(df["home_team"]) #列名がhome_teamの列を抽出

0                Scotland
1                 England
2                Scotland
3                 England
4                Scotland
5                Scotland
6                 England
7                   Wales
8                Scotland
9                Scotland
10                England
11                England
12                  Wales
13               Scotland
14                  Wales
15               Scotland
16                England
17                England
18                  Wales
19       Northern Ireland
20                  Wales
21               Scotland
22                  Wales
23               Scotland
24                England
25                England
26                England
27                  Wales
28       Northern Ireland
29       Northern Ireland
               ...
38978               India
38979         El Salvador
38980            Thailand
38981             England
38982          Montenegro
38983              Mexico
38984              Sweden
38985             Ireland
38986             Belgium
38987             Austria
38988               Niger
38989             Iceland
38990              Zambia
38991             Lesotho
38992              Latvia
38993               Kenya
38994             Albania
38995        Saudi Arabia
38996               Spain
38997             Croatia
38998          Costa Rica
38999            Barbados
39000             Andorra
39001        South Africa
39002            Zimbabwe
39003               Italy
39004              Serbia
39005            Slovakia
39006             Armenia
39007               India
Name: home_team, Length: 39008, dtype: object
0                Scotland
1                 England
2                Scotland
3                 England
4                Scotland
5                Scotland
6                 England
7                   Wales
8                Scotland
9                Scotland
10                England
11                England
12                  Wales
13               Scotland
14                  Wales
15               Scotland
16                England
17                England
18                  Wales
19       Northern Ireland
20                  Wales
21               Scotland
22                  Wales
23               Scotland
24                England
25                England
26                England
27                  Wales
28       Northern Ireland
29       Northern Ireland
               ...
38978               India
38979         El Salvador
38980            Thailand
38981             England
38982          Montenegro
38983              Mexico
38984              Sweden
38985             Ireland
38986             Belgium
38987             Austria
38988               Niger
38989             Iceland
38990              Zambia
38991             Lesotho
38992              Latvia
38993               Kenya
38994             Albania
38995        Saudi Arabia
38996               Spain
38997             Croatia
38998          Costa Rica
38999            Barbados
39000             Andorra
39001        South Africa
39002            Zimbabwe
39003               Italy
39004              Serbia
39005            Slovakia
39006             Armenia
39007               India
Name: home_team, Length: 39008, dtype: object

In [7]:
#2列以上の場合
print(df[["home_team","away_team"]]) #列名がhome_teamの列とaway_teamの列を抽出

              home_team         away_team
0              Scotland           England
1               England          Scotland
2              Scotland           England
3               England          Scotland
4              Scotland           England
5              Scotland             Wales
6               England          Scotland
7                 Wales          Scotland
8              Scotland           England
9              Scotland             Wales
10              England             Wales
11              England          Scotland
12                Wales          Scotland
13             Scotland           England
14                Wales           England
15             Scotland             Wales
16              England             Wales
17              England          Scotland
18                Wales          Scotland
19     Northern Ireland           England
20                Wales  Northern Ireland
21             Scotland           England
22                Wales           England
23             Scotland             Wales
24              England             Wales
25              England  Northern Ireland
26              England          Scotland
27                Wales          Scotland
28     Northern Ireland             Wales
29     Northern Ireland          Scotland
...                 ...               ...
38978             India            Taiwan
38979       El Salvador          Honduras
38980          Thailand             China
38981           England           Nigeria
38982        Montenegro          Slovenia
38983            Mexico          Scotland
38984            Sweden           Denmark
38985           Ireland               USA
38986           Belgium          Portugal
38987           Austria           Germany
38988             Niger            Uganda
38989           Iceland            Norway
38990            Zambia           Namibia
38991           Lesotho         Swaziland
38992            Latvia           Estonia
38993             Kenya       New Zealand
38994           Albania           Ukraine
38995      Saudi Arabia              Peru
38996             Spain       Switzerland
38997           Croatia            Brazil
38998        Costa Rica  Northern Ireland
38999          Barbados            Belize
39000           Andorra        Cape Verde
39001      South Africa        Madagascar
39002          Zimbabwe          Botswana
39003             Italy       Netherlands
39004            Serbia             Chile
39005          Slovakia           Morocco
39006           Armenia           Moldova
39007             India             Kenya

[39008 rows x 2 columns]

In [8]:
#特定の列だけを抽出した新しいデータフレームを作成
df_teams = df[["date","home_team","away_team"]] 
print(df_teams)

             date         home_team         away_team
0      1872-11-30          Scotland           England
1      1873-03-08           England          Scotland
2      1874-03-07          Scotland           England
3      1875-03-06           England          Scotland
4      1876-03-04          Scotland           England
5      1876-03-25          Scotland             Wales
6      1877-03-03           England          Scotland
7      1877-03-05             Wales          Scotland
8      1878-03-02          Scotland           England
9      1878-03-23          Scotland             Wales
10     1879-01-18           England             Wales
11     1879-04-05           England          Scotland
12     1879-04-07             Wales          Scotland
13     1880-03-13          Scotland           England
14     1880-03-15             Wales           England
15     1880-03-27          Scotland             Wales
16     1881-02-26           England             Wales
17     1881-03-12           England          Scotland
18     1881-03-14             Wales          Scotland
19     1882-02-18  Northern Ireland           England
20     1882-02-25             Wales  Northern Ireland
21     1882-03-11          Scotland           England
22     1882-03-13             Wales           England
23     1882-03-25          Scotland             Wales
24     1883-02-03           England             Wales
25     1883-02-24           England  Northern Ireland
26     1883-03-10           England          Scotland
27     1883-03-12             Wales          Scotland
28     1883-03-17  Northern Ireland             Wales
29     1884-01-26  Northern Ireland          Scotland
...           ...               ...               ...
38978  2018-06-01             India            Taiwan
38979  2018-06-02       El Salvador          Honduras
38980  2018-06-02          Thailand             China
38981  2018-06-02           England           Nigeria
38982  2018-06-02        Montenegro          Slovenia
38983  2018-06-02            Mexico          Scotland
38984  2018-06-02            Sweden           Denmark
38985  2018-06-02           Ireland               USA
38986  2018-06-02           Belgium          Portugal
38987  2018-06-02           Austria           Germany
38988  2018-06-02             Niger            Uganda
38989  2018-06-02           Iceland            Norway
38990  2018-06-02            Zambia           Namibia
38991  2018-06-02           Lesotho         Swaziland
38992  2018-06-02            Latvia           Estonia
38993  2018-06-02             Kenya       New Zealand
38994  2018-06-03           Albania           Ukraine
38995  2018-06-03      Saudi Arabia              Peru
38996  2018-06-03             Spain       Switzerland
38997  2018-06-03           Croatia            Brazil
38998  2018-06-03        Costa Rica  Northern Ireland
38999  2018-06-03          Barbados            Belize
39000  2018-06-03           Andorra        Cape Verde
39001  2018-06-03      South Africa        Madagascar
39002  2018-06-03          Zimbabwe          Botswana
39003  2018-06-04             Italy       Netherlands
39004  2018-06-04            Serbia             Chile
39005  2018-06-04          Slovakia           Morocco
39006  2018-06-04           Armenia           Moldova
39007  2018-06-04             India             Kenya

[39008 rows x 3 columns]

### 行番号で行を取り出す

In [9]:
#0行目以上、1000行目未満だけを抽出
print(df[0:1000])

#15000行目以降を抽出
print(df[15000:])

#0行目以上、100行目未満を2行ごとに抽出
print(df[0:100:2])

#全データを2行ごとに抽出
print(df[::2])

          date         home_team         away_team  home_score  away_score  \
0   1872-11-30          Scotland           England           0           0
2   1874-03-07          Scotland           England           2           1
4   1876-03-04          Scotland           England           3           0
6   1877-03-03           England          Scotland           1           3
8   1878-03-02          Scotland           England           7           2
10  1879-01-18           England             Wales           2           1
12  1879-04-07             Wales          Scotland           0           3
14  1880-03-15             Wales           England           2           3
16  1881-02-26           England             Wales           0           1
18  1881-03-14             Wales          Scotland           1           5
20  1882-02-25             Wales  Northern Ireland           7           1
22  1882-03-13             Wales           England           5           3
24  1883-02-03           England             Wales           5           0
26  1883-03-10           England          Scotland           2           3
28  1883-03-17  Northern Ireland             Wales           1           1
30  1884-02-09             Wales  Northern Ireland           6           0
32  1884-03-15          Scotland           England           1           0
34  1884-03-29          Scotland             Wales           4           1
36  1885-03-14           England             Wales           1           1
38  1885-03-21           England          Scotland           1           1
40  1885-04-11  Northern Ireland             Wales           2           8
42  1886-02-27             Wales  Northern Ireland           5           0
44  1886-03-20  Northern Ireland          Scotland           2           7
46  1886-03-29             Wales           England           1           3
48  1886-11-25               USA            Canada           3           2
50  1887-02-19          Scotland  Northern Ireland           4           1
52  1887-03-12  Northern Ireland             Wales           4           1
54  1887-03-21             Wales          Scotland           0           2
56  1888-03-03             Wales  Northern Ireland          11           0
58  1888-03-17          Scotland           England           0           5
60  1888-04-07  Northern Ireland           England           1           5
62  1889-02-23           England             Wales           4           1
64  1889-03-09          Scotland  Northern Ireland           7           0
66  1889-04-15             Wales          Scotland           0           0
68  1890-02-08             Wales  Northern Ireland           5           2
70  1890-03-15             Wales           England           1           3
72  1890-03-29  Northern Ireland          Scotland           1           4
74  1891-02-07  Northern Ireland             Wales           7           2
76  1891-03-07           England  Northern Ireland           6           1
78  1891-03-28          Scotland  Northern Ireland           2           1
80  1892-03-05  Northern Ireland           England           0           2
82  1892-03-19  Northern Ireland          Scotland           2           3
84  1892-04-02          Scotland           England           1           4
86  1893-03-13           England             Wales           6           0
88  1893-03-25          Scotland  Northern Ireland           6           1
90  1894-02-24             Wales  Northern Ireland           4           1
92  1894-03-12             Wales           England           1           5
94  1894-03-31  Northern Ireland          Scotland           1           2
96  1895-03-09           England  Northern Ireland           9           0
98  1895-03-18           England             Wales           1           1

              tournament            city   country  neutral
0               Friendly         Glasgow  Scotland    False
2               Friendly         Glasgow  Scotland    False
4               Friendly         Glasgow  Scotland    False
6               Friendly          London   England    False
8               Friendly         Glasgow  Scotland    False
10              Friendly          London   England    False
12              Friendly         Wrexham     Wales    False
14              Friendly         Wrexham     Wales    False
16              Friendly       Blackburn   England    False
18              Friendly         Wrexham     Wales    False
20              Friendly         Wrexham     Wales    False
22              Friendly         Wrexham     Wales    False
24              Friendly          London   England    False
26              Friendly       Sheffield   England    False
28              Friendly         Belfast   Ireland    False
30  British Championship         Wrexham     Wales    False
32  British Championship         Glasgow  Scotland    False
34  British Championship         Glasgow  Scotland    False
36  British Championship       Blackburn   England    False
38  British Championship          London   England    False
40  British Championship         Belfast   Ireland    False
42  British Championship         Wrexham     Wales    False
44  British Championship         Belfast   Ireland    False
46  British Championship         Wrexham     Wales    False
48              Friendly          Newark       USA    False
50  British Championship         Glasgow  Scotland    False
52  British Championship         Belfast   Ireland    False
54  British Championship         Wrexham     Wales    False
56  British Championship         Wrexham     Wales    False
58  British Championship         Glasgow  Scotland    False
60  British Championship         Belfast   Ireland    False
62  British Championship  Stoke-on-Trent   England    False
64  British Championship         Glasgow  Scotland    False
66  British Championship         Wrexham     Wales    False
68  British Championship      Shrewsbury   England     True
70  British Championship         Wrexham     Wales    False
72  British Championship         Belfast   Ireland    False
74  British Championship         Belfast   Ireland    False
76  British Championship   Wolverhampton   England    False
78  British Championship         Glasgow  Scotland    False
80  British Championship         Belfast   Ireland    False
82  British Championship         Belfast   Ireland    False
84  British Championship         Glasgow  Scotland    False
86  British Championship  Stoke-on-Trent   England    False
88  British Championship         Glasgow  Scotland    False
90  British Championship         Swansea     Wales    False
92  British Championship         Wrexham     Wales    False
94  British Championship         Belfast   Ireland    False
96  British Championship           Derby   England    False
98  British Championship          London   England    False

### 行名、列名によってデータを部分的に切り取って取り出す

In [10]:
#10行目以上、20行目以下、のhome_teamとaway_team
print(df.loc[10:20,["home_team","away_team"]])

#10行目以上、20行目以下、1行置きの、home_teamとaway_team
print(df.loc[10:20:2,["home_team","away_team"]])

           home_team         away_team
10           England             Wales
11           England          Scotland
12             Wales          Scotland
13          Scotland           England
14             Wales           England
15          Scotland             Wales
16           England             Wales
17           England          Scotland
18             Wales          Scotland
19  Northern Ireland           England
20             Wales  Northern Ireland
   home_team         away_team
10   England             Wales
12     Wales          Scotland
14     Wales           England
16   England             Wales
18     Wales          Scotland
20     Wales  Northern Ireland

### 行番号、列番号によってデータを部分的に切り出す

In [11]:
#1行目、1列目
print(df.iloc[1,1])

#10行目以上、20行目未満。1列目以上、5列目未満。
print(df.iloc[10:20,1:5])

#全行。1列目以上、5列目未満。
print(df.iloc[:,1:5])

England
           home_team away_team  home_score  away_score
10           England     Wales           2           1
11           England  Scotland           5           4
12             Wales  Scotland           0           3
13          Scotland   England           5           4
14             Wales   England           2           3
15          Scotland     Wales           5           1
16           England     Wales           0           1
17           England  Scotland           1           6
18             Wales  Scotland           1           5
19  Northern Ireland   England           0          13
              home_team         away_team  home_score  away_score
0              Scotland           England           0           0
1               England          Scotland           4           2
2              Scotland           England           2           1
3               England          Scotland           2           2
4              Scotland           England           3           0
5              Scotland             Wales           4           0
6               England          Scotland           1           3
7                 Wales          Scotland           0           2
8              Scotland           England           7           2
9              Scotland             Wales           9           0
10              England             Wales           2           1
11              England          Scotland           5           4
12                Wales          Scotland           0           3
13             Scotland           England           5           4
14                Wales           England           2           3
15             Scotland             Wales           5           1
16              England             Wales           0           1
17              England          Scotland           1           6
18                Wales          Scotland           1           5
19     Northern Ireland           England           0          13
20                Wales  Northern Ireland           7           1
21             Scotland           England           5           1
22                Wales           England           5           3
23             Scotland             Wales           5           0
24              England             Wales           5           0
25              England  Northern Ireland           7           0
26              England          Scotland           2           3
27                Wales          Scotland           0           3
28     Northern Ireland             Wales           1           1
29     Northern Ireland          Scotland           0           5
...                 ...               ...         ...         ...
38978             India            Taiwan           5           0
38979       El Salvador          Honduras           1           0
38980          Thailand             China           0           2
38981           England           Nigeria           2           1
38982        Montenegro          Slovenia           0           2
38983            Mexico          Scotland           1           0
38984            Sweden           Denmark           0           0
38985           Ireland               USA           2           1
38986           Belgium          Portugal           0           0
38987           Austria           Germany           2           1
38988             Niger            Uganda           2           1
38989           Iceland            Norway           2           3
38990            Zambia           Namibia           0           0
38991           Lesotho         Swaziland           1           0
38992            Latvia           Estonia           1           0
38993             Kenya       New Zealand           2           1
38994           Albania           Ukraine           1           4
38995      Saudi Arabia              Peru           0           3
38996             Spain       Switzerland           1           1
38997           Croatia            Brazil           0           2
38998        Costa Rica  Northern Ireland           3           0
38999          Barbados            Belize           0           0
39000           Andorra        Cape Verde           0           0
39001      South Africa        Madagascar           0           0
39002          Zimbabwe          Botswana           1           1
39003             Italy       Netherlands           1           1
39004            Serbia             Chile           0           1
39005          Slovakia           Morocco           1           2
39006           Armenia           Moldova           0           0
39007             India             Kenya           3           0

[39008 rows x 4 columns]

### データから基本的な値を計算する

In [12]:
#最大値
print(df[["home_score","away_score"]].max())

#最小値
print(df[["home_score","away_score"]].min())

#平均値
print(df[["home_score","away_score"]].mean())

#標準偏差
print(df[["home_score","away_score"]].std())

home_score    31
away_score    21
dtype: int64
home_score    0
away_score    0
dtype: int64
home_score    1.740130
away_score    1.180091
dtype: float64
home_score    1.730864
away_score    1.378856
dtype: float64

### 条件に一致する行を抽出

In [48]:
(df[["home_team","away_team"]] == "England").any(axis=1)

0         True
1         True
2         True
3         True
4         True
5        False
6         True
7        False
8         True
9        False
10        True
11        True
12       False
13        True
14        True
15       False
16        True
17        True
18       False
19        True
20       False
21        True
22        True
23       False
24        True
25        True
26        True
27       False
28       False
29       False
         ...
38978    False
38979    False
38980    False
38981     True
38982    False
38983    False
38984    False
38985    False
38986    False
38987    False
38988    False
38989    False
38990    False
38991    False
38992    False
38993    False
38994    False
38995    False
38996    False
38997    False
38998    False
38999    False
39000    False
39001    False
39002    False
39003    False
39004    False
39005    False
39006    False
39007    False
Length: 39008, dtype: bool

In [7]:
#home_teamがEnglandのデータ
print(df[df["home_team"] == "England"])

#home_teamがEngland　かつ　away_teamがScotlandのデータ
print(df[(df["home_team"] == "England") & (df["away_team"] == "Scotland")])

#home_teamがEngland　または　away_teamがScotlandのデータ
print(df[(df["home_team"] == "England") | (df["away_team"] == "Scotland")])

#dateに1872が含まれる行を抽出（1872年に行われた試合を抽出）
print(df[df.date.str.contains("1872")])

#1872~1874年の間に行われた試合を抽出
print(df[df.date.str.contains("1872") | df.date.str.contains("1873") | df.date.str.contains("1874")])

#Japanの試合のみを全て抽出
print(df[(df["home_team"] == "Japan") | (df["away_team"] == "Japan")])
print(df[(df[["home_team","away_team"]] == "Japan").any(axis = 1)])

#Japanの試合のみ抽出してdf_Japanに格納
df_Japan = df[(df[["home_team","away_team"]] == "Japan").any(axis = 1)]

             date home_team away_team  home_score  away_score  \
1      1873-03-08   England  Scotland           4           2
3      1875-03-06   England  Scotland           2           2
6      1877-03-03   England  Scotland           1           3
10     1879-01-18   England     Wales           2           1
11     1879-04-05   England  Scotland           5           4
...           ...       ...       ...         ...         ...
38494  2017-10-05   England  Slovenia           1           0
38621  2017-11-10   England   Germany           0           0
38674  2017-11-14   England    Brazil           0           0
38881  2018-03-27   England     Italy           1           1
38981  2018-06-02   England   Nigeria           2           1

                         tournament    city  country  neutral
1                          Friendly  London  England    False
3                          Friendly  London  England    False
6                          Friendly  London  England    False
10                         Friendly  London  England    False
11                         Friendly  London  England    False
...                             ...     ...      ...      ...
38494  FIFA World Cup qualification  London  England    False
38621                      Friendly  London  England    False
38674                      Friendly  London  England    False
38881                      Friendly  London  England    False
38981                      Friendly  London  England    False

[480 rows x 9 columns]
             date home_team away_team  home_score  away_score  \
1      1873-03-08   England  Scotland           4           2
3      1875-03-06   England  Scotland           2           2
6      1877-03-03   England  Scotland           1           3
11     1879-04-05   England  Scotland           5           4
17     1881-03-12   England  Scotland           1           6
26     1883-03-10   England  Scotland           2           3
38     1885-03-21   England  Scotland           1           1
53     1887-03-19   England  Scotland           2           3
65     1889-04-13   England  Scotland           2           3
89     1893-04-01   England  Scotland           5           2
101    1895-04-06   England  Scotland           3           0
113    1897-04-03   England  Scotland           1           2
125    1899-04-08   England  Scotland           2           1
137    1901-03-30   England  Scotland           2           2
143    1902-05-03   England  Scotland           2           2
150    1903-04-04   England  Scotland           1           2
167    1905-04-01   England  Scotland           1           0
193    1907-04-06   England  Scotland           1           1
233    1909-04-03   England  Scotland           2           0
282    1911-04-01   England  Scotland           1           1
347    1913-04-05   England  Scotland           1           0
525    1920-04-10   England  Scotland           5           4
611    1922-04-08   England  Scotland           0           1
767    1924-04-12   England  Scotland           1           1
927    1926-04-17   England  Scotland           0           1
1085   1928-03-31   England  Scotland           1           5
1241   1930-04-05   England  Scotland           5           2
1436   1932-04-09   England  Scotland           3           0
1631   1934-04-14   England  Scotland           3           0
1830   1936-04-04   England  Scotland           1           1
2032   1938-04-09   England  Scotland           0           1
2617   1947-04-12   England  Scotland           1           1
2876   1949-04-09   England  Scotland           1           3
3158   1951-04-14   England  Scotland           2           3
3412   1953-04-18   England  Scotland           2           2
3697   1955-04-02   England  Scotland           7           2
4058   1957-04-06   England  Scotland           2           1
4442   1959-04-11   England  Scotland           1           0
4837   1961-04-15   England  Scotland           9           3
5311   1963-04-06   England  Scotland           1           2
5746   1965-04-10   England  Scotland           2           2
6405   1967-04-15   England  Scotland           2           3
7028   1969-05-10   England  Scotland           4           1
7681   1971-05-22   England  Scotland           3           1
8508   1973-05-19   England  Scotland           1           0
9250   1975-05-24   England  Scotland           5           1
10068  1977-06-04   England  Scotland           1           2
10750  1979-05-26   England  Scotland           3           1
11688  1981-05-23   England  Scotland           0           1
12500  1983-06-01   England  Scotland           2           0
14055  1986-04-23   England  Scotland           2           1
14844  1988-05-21   England  Scotland           1           0
19514  1996-06-15   England  Scotland           2           0
22168  1999-11-17   England  Scotland           0           1
34829  2013-08-14   England  Scotland           3           2
37804  2016-11-11   England  Scotland           3           0

                         tournament        city  country  neutral
1                          Friendly      London  England    False
3                          Friendly      London  England    False
6                          Friendly      London  England    False
11                         Friendly      London  England    False
17                         Friendly      London  England    False
26                         Friendly   Sheffield  England    False
38             British Championship      London  England    False
53             British Championship   Blackburn  England    False
65             British Championship      London  England    False
89             British Championship    Richmond  England    False
101            British Championship   Liverpool  England    False
113            British Championship      London  England    False
125            British Championship  Birmingham  England    False
137            British Championship      London  England    False
143            British Championship  Birmingham  England    False
150            British Championship   Sheffield  England    False
167            British Championship      London  England    False
193            British Championship   Newcastle  England    False
233            British Championship      London  England    False
282            British Championship   Liverpool  England    False
347            British Championship      London  England    False
525            British Championship   Sheffield  England    False
611            British Championship  Birmingham  England    False
767            British Championship      London  England    False
927            British Championship  Manchester  England    False
1085           British Championship      London  England    False
1241           British Championship      London  England    False
1436           British Championship      London  England    False
1631           British Championship      London  England    False
1830           British Championship      London  England    False
2032           British Championship      London  England    False
2617           British Championship      London  England    False
2876           British Championship      London  England    False
3158           British Championship      London  England    False
3412           British Championship      London  England    False
3697           British Championship      London  England    False
4058           British Championship      London  England    False
4442           British Championship      London  England    False
4837           British Championship      London  England    False
5311           British Championship      London  England    False
5746           British Championship      London  England    False
6405        UEFA Euro qualification      London  England    False
7028           British Championship      London  England    False
7681           British Championship      London  England    False
8508           British Championship      London  England    False
9250           British Championship      London  England    False
10068          British Championship      London  England    False
10750          British Championship      London  England    False
11688          British Championship      London  England    False
12500          British Championship      London  England    False
14055                      Rous Cup      London  England    False
14844                      Rous Cup      London  England    False
19514                     UEFA Euro      London  England    False
22168       UEFA Euro qualification      London  England    False
34829                      Friendly      London  England    False
37804  FIFA World Cup qualification      London  England    False
             date home_team away_team  home_score  away_score tournament  \
1      1873-03-08   England  Scotland           4           2   Friendly
3      1875-03-06   England  Scotland           2           2   Friendly
6      1877-03-03   England  Scotland           1           3   Friendly
7      1877-03-05     Wales  Scotland           0           2   Friendly
10     1879-01-18   England     Wales           2           1   Friendly
...           ...       ...       ...         ...         ...        ...
38881  2018-03-27   England     Italy           1           1   Friendly
38885  2018-03-27   Hungary  Scotland           0           1   Friendly
38953  2018-05-29      Peru  Scotland           2           0   Friendly
38981  2018-06-02   England   Nigeria           2           1   Friendly
38983  2018-06-02    Mexico  Scotland           1           0   Friendly

              city  country  neutral
1           London  England    False
3           London  England    False
6           London  England    False
7          Wrexham    Wales    False
10          London  England    False
...            ...      ...      ...
38881       London  England    False
38885     Budapest  Hungary    False
38953         Lima     Peru    False
38981       London  England    False
38983  Mexico City   Mexico    False

[816 rows x 9 columns]
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow

    country  neutral
0  Scotland    False
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
             date home_team       away_team  home_score  away_score  \
443    1917-05-07     Japan     Philippines           2          15
571    1921-05-30     Japan     Philippines           0           3
695    1923-05-24     Japan           China           1           5
854    1925-05-20     China           Japan           2           0
1043   1927-08-27     China           Japan           5           1
...           ...       ...             ...         ...         ...
38741  2017-12-12     Japan           China           2           1
38750  2017-12-16     Japan  Korea Republic           1           4
38822  2018-03-23     Japan            Mali           1           1
38916  2018-03-27   Ukraine           Japan           2           1
38957  2018-05-30     Japan           Ghana           0           2

              tournament      city      country  neutral
443             Friendly     Tokyo        Japan    False
571             Friendly  Shanghai        China     True
695             Friendly     Osaka        Japan    False
854             Friendly    Manila  Philippines     True
1043            Friendly  Shanghai        China    False
...                  ...       ...          ...      ...
38741  EAFF Championship     Chōfu        Japan    False
38750  EAFF Championship     Chōfu        Japan    False
38822           Friendly     Liège      Belgium     True
38916           Friendly     Liège      Belgium     True
38957           Friendly  Yokohama        Japan    False

[597 rows x 9 columns]
             date home_team       away_team  home_score  away_score  \
443    1917-05-07     Japan     Philippines           2          15
571    1921-05-30     Japan     Philippines           0           3
695    1923-05-24     Japan           China           1           5
854    1925-05-20     China           Japan           2           0
1043   1927-08-27     China           Japan           5           1
...           ...       ...             ...         ...         ...
38741  2017-12-12     Japan           China           2           1
38750  2017-12-16     Japan  Korea Republic           1           4
38822  2018-03-23     Japan            Mali           1           1
38916  2018-03-27   Ukraine           Japan           2           1
38957  2018-05-30     Japan           Ghana           0           2

              tournament      city      country  neutral
443             Friendly     Tokyo        Japan    False
571             Friendly  Shanghai        China     True
695             Friendly     Osaka        Japan    False
854             Friendly    Manila  Philippines     True
1043            Friendly  Shanghai        China    False
...                  ...       ...          ...      ...
38741  EAFF Championship     Chōfu        Japan    False
38750  EAFF Championship     Chōfu        Japan    False
38822           Friendly     Liège      Belgium     True
38916           Friendly     Liège      Belgium     True
38957           Friendly  Yokohama        Japan    False

[597 rows x 9 columns]

In [10]:
(df[["home_team","away_team"]] == "Japan").any(axis=1)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
38978    False
38979    False
38980    False
38981    False
38982    False
38983    False
38984    False
38985    False
38986    False
38987    False
38988    False
38989    False
38990    False
38991    False
38992    False
38993    False
38994    False
38995    False
38996    False
38997    False
38998    False
38999    False
39000    False
39001    False
39002    False
39003    False
39004    False
39005    False
39006    False
39007    False
Length: 39008, dtype: bool

### クエリ検索

In [15]:
#クエリ検索で日本がhome_teamの試合を抽出
print(df.query("home_team == 'Japan'"))

#日本が参加している試合を抽出、複数条件指定
print(df.query("home_team == 'Japan' | away_team == 'Japan'"))

             date home_team       away_team  home_score  away_score  \
443    1917-05-07     Japan     Philippines           2          15
571    1921-05-30     Japan     Philippines           0           3
695    1923-05-24     Japan           China           1           5
1044   1927-08-29     Japan     Philippines           2           1
1263   1930-05-29     Japan           China           3           3
...           ...       ...             ...         ...         ...
38730  2017-12-09     Japan       Korea DPR           1           0
38741  2017-12-12     Japan           China           2           1
38750  2017-12-16     Japan  Korea Republic           1           4
38822  2018-03-23     Japan            Mali           1           1
38957  2018-05-30     Japan           Ghana           0           2

              tournament      city  country  neutral
443             Friendly     Tokyo    Japan    False
571             Friendly  Shanghai    China     True
695             Friendly     Osaka    Japan    False
1044            Friendly  Shanghai    China     True
1263            Friendly     Tokyo    Japan    False
...                  ...       ...      ...      ...
38730  EAFF Championship     Chōfu    Japan    False
38741  EAFF Championship     Chōfu    Japan    False
38750  EAFF Championship     Chōfu    Japan    False
38822           Friendly     Liège  Belgium     True
38957           Friendly  Yokohama    Japan    False

[353 rows x 9 columns]
             date home_team       away_team  home_score  away_score  \
443    1917-05-07     Japan     Philippines           2          15
571    1921-05-30     Japan     Philippines           0           3
695    1923-05-24     Japan           China           1           5
854    1925-05-20     China           Japan           2           0
1043   1927-08-27     China           Japan           5           1
...           ...       ...             ...         ...         ...
38741  2017-12-12     Japan           China           2           1
38750  2017-12-16     Japan  Korea Republic           1           4
38822  2018-03-23     Japan            Mali           1           1
38916  2018-03-27   Ukraine           Japan           2           1
38957  2018-05-30     Japan           Ghana           0           2

              tournament      city      country  neutral
443             Friendly     Tokyo        Japan    False
571             Friendly  Shanghai        China     True
695             Friendly     Osaka        Japan    False
854             Friendly    Manila  Philippines     True
1043            Friendly  Shanghai        China    False
...                  ...       ...          ...      ...
38741  EAFF Championship     Chōfu        Japan    False
38750  EAFF Championship     Chōfu        Japan    False
38822           Friendly     Liège      Belgium     True
38916           Friendly     Liège      Belgium     True
38957           Friendly  Yokohama        Japan    False

[597 rows x 9 columns]

## 新たな列の作成

In [16]:
#点差を計算
point_diff = df["home_score"] - df["away_score"]
point_diff = abs(point_diff)

#点差（point_diff）という列を作成
df["point_diff"] = point_diff
print(df.head()) #新しい列が作成されていることの確認

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral  point_diff
0  Scotland    False           0
1   England    False           2
2  Scotland    False           1
3   England    False           0
4  Scotland    False           3

In [14]:
[date.split("-")[1] for date in df["date"]]

[['1872', '11', '30'],
 ['1873', '03', '08'],
 ['1874', '03', '07'],
 ['1875', '03', '06'],
 ['1876', '03', '04'],
 ['1876', '03', '25'],
 ['1877', '03', '03'],
 ['1877', '03', '05'],
 ['1878', '03', '02'],
 ['1878', '03', '23'],
 ['1879', '01', '18'],
 ['1879', '04', '05'],
 ['1879', '04', '07'],
 ['1880', '03', '13'],
 ['1880', '03', '15'],
 ['1880', '03', '27'],
 ['1881', '02', '26'],
 ['1881', '03', '12'],
 ['1881', '03', '14'],
 ['1882', '02', '18'],
 ['1882', '02', '25'],
 ['1882', '03', '11'],
 ['1882', '03', '13'],
 ['1882', '03', '25'],
 ['1883', '02', '03'],
 ['1883', '02', '24'],
 ['1883', '03', '10'],
 ['1883', '03', '12'],
 ['1883', '03', '17'],
 ['1884', '01', '26'],
 ['1884', '02', '09'],
 ['1884', '02', '23'],
 ['1884', '03', '15'],
 ['1884', '03', '17'],
 ['1884', '03', '29'],
 ['1885', '02', '28'],
 ['1885', '03', '14'],
 ['1885', '03', '14'],
 ['1885', '03', '21'],
 ['1885', '03', '23'],
 ['1885', '04', '11'],
 ['1885', '11', '28'],
 ['1886', '02', '27'],
 ['1886', '03', '13'],
 ['1886', '03', '20'],
 ['1886', '03', '27'],
 ['1886', '03', '29'],
 ['1886', '04', '10'],
 ['1886', '11', '25'],
 ['1887', '02', '05'],
 ['1887', '02', '19'],
 ['1887', '02', '26'],
 ['1887', '03', '12'],
 ['1887', '03', '19'],
 ['1887', '03', '21'],
 ['1888', '02', '04'],
 ['1888', '03', '03'],
 ['1888', '03', '10'],
 ['1888', '03', '17'],
 ['1888', '03', '24'],
 ['1888', '04', '07'],
 ['1888', '09', '19'],
 ['1889', '02', '23'],
 ['1889', '03', '02'],
 ['1889', '03', '09'],
 ['1889', '04', '13'],
 ['1889', '04', '15'],
 ['1889', '04', '27'],
 ['1890', '02', '08'],
 ['1890', '03', '15'],
 ['1890', '03', '15'],
 ['1890', '03', '22'],
 ['1890', '03', '29'],
 ['1890', '04', '05'],
 ['1891', '02', '07'],
 ['1891', '03', '07'],
 ['1891', '03', '07'],
 ['1891', '03', '21'],
 ['1891', '03', '28'],
 ['1892', '02', '27'],
 ['1892', '03', '05'],
 ['1892', '03', '05'],
 ['1892', '03', '19'],
 ['1892', '03', '26'],
 ['1892', '04', '02'],
 ['1893', '02', '25'],
 ['1893', '03', '13'],
 ['1893', '03', '18'],
 ['1893', '03', '25'],
 ['1893', '04', '01'],
 ['1894', '02', '24'],
 ['1894', '03', '03'],
 ['1894', '03', '12'],
 ['1894', '03', '24'],
 ['1894', '03', '31'],
 ['1894', '04', '07'],
 ['1895', '03', '09'],
 ['1895', '03', '16'],
 ['1895', '03', '18'],
 ['1895', '03', '23'],
 ['1895', '03', '30'],
 ['1895', '04', '06'],
 ['1896', '02', '29'],
 ['1896', '03', '07'],
 ['1896', '03', '16'],
 ['1896', '03', '21'],
 ['1896', '03', '28'],
 ['1896', '04', '04'],
 ['1897', '02', '20'],
 ['1897', '03', '06'],
 ['1897', '03', '20'],
 ['1897', '03', '27'],
 ['1897', '03', '29'],
 ['1897', '04', '03'],
 ['1898', '02', '19'],
 ['1898', '03', '05'],
 ['1898', '03', '19'],
 ['1898', '03', '26'],
 ['1898', '03', '28'],
 ['1898', '04', '02'],
 ['1899', '02', '18'],
 ['1899', '03', '04'],
 ['1899', '03', '18'],
 ['1899', '03', '20'],
 ['1899', '03', '25'],
 ['1899', '04', '08'],
 ['1900', '02', '03'],
 ['1900', '02', '24'],
 ['1900', '03', '03'],
 ['1900', '03', '17'],
 ['1900', '03', '26'],
 ['1900', '04', '07'],
 ['1901', '02', '23'],
 ['1901', '03', '02'],
 ['1901', '03', '09'],
 ['1901', '03', '18'],
 ['1901', '03', '23'],
 ['1901', '03', '30'],
 ['1902', '02', '22'],
 ['1902', '03', '01'],
 ['1902', '03', '03'],
 ['1902', '03', '15'],
 ['1902', '03', '22'],
 ['1902', '05', '03'],
 ['1902', '07', '20'],
 ['1902', '10', '12'],
 ['1903', '03', '02'],
 ['1903', '03', '09'],
 ['1903', '03', '21'],
 ['1903', '03', '28'],
 ['1903', '04', '04'],
 ['1903', '04', '05'],
 ['1903', '09', '13'],
 ['1903', '10', '11'],
 ['1904', '02', '29'],
 ['1904', '03', '12'],
 ['1904', '03', '12'],
 ['1904', '03', '21'],
 ['1904', '03', '26'],
 ['1904', '04', '09'],
 ['1904', '05', '01'],
 ['1904', '06', '02'],
 ['1905', '02', '12'],
 ['1905', '02', '25'],
 ['1905', '03', '06'],
 ['1905', '03', '18'],
 ['1905', '03', '27'],
 ['1905', '04', '01'],
 ['1905', '04', '08'],
 ['1905', '04', '09'],
 ['1905', '04', '30'],
 ['1905', '05', '07'],
 ['1905', '05', '14'],
 ['1905', '08', '15'],
 ['1906', '02', '17'],
 ['1906', '03', '03'],
 ['1906', '03', '17'],
 ['1906', '03', '19'],
 ['1906', '04', '01'],
 ['1906', '04', '02'],
 ['1906', '04', '07'],
 ['1906', '04', '22'],
 ['1906', '04', '29'],
 ['1906', '05', '13'],
 ['1906', '08', '15'],
 ['1906', '10', '07'],
 ['1906', '10', '21'],
 ['1906', '11', '04'],
 ['1907', '02', '16'],
 ['1907', '02', '23'],
 ['1907', '03', '04'],
 ['1907', '03', '16'],
 ['1907', '03', '18'],
 ['1907', '04', '06'],
 ['1907', '04', '07'],
 ['1907', '04', '14'],
 ['1907', '04', '21'],
 ['1907', '05', '05'],
 ['1907', '05', '09'],
 ['1907', '10', '06'],
 ['1907', '11', '03'],
 ['1908', '02', '15'],
 ['1908', '03', '07'],
 ['1908', '03', '08'],
 ['1908', '03', '14'],
 ['1908', '03', '16'],
 ['1908', '03', '29'],
 ['1908', '04', '04'],
 ['1908', '04', '05'],
 ['1908', '04', '05'],
 ['1908', '04', '11'],
 ['1908', '04', '12'],
 ['1908', '04', '26'],
 ['1908', '05', '03'],
 ['1908', '05', '10'],
 ['1908', '06', '06'],
 ['1908', '06', '07'],
 ['1908', '06', '08'],
 ['1908', '06', '10'],
 ['1908', '06', '13'],
 ['1908', '07', '12'],
 ['1908', '08', '15'],
 ['1908', '09', '13'],
 ['1908', '10', '04'],
 ['1908', '10', '25'],
 ['1908', '10', '26'],
 ['1908', '11', '01'],
 ['1909', '02', '13'],
 ['1909', '03', '01'],
 ['1909', '03', '15'],
 ['1909', '03', '15'],
 ['1909', '03', '20'],
 ['1909', '03', '21'],
 ['1909', '04', '03'],
 ['1909', '04', '04'],
 ['1909', '04', '04'],
 ['1909', '04', '25'],
 ['1909', '05', '02'],
 ['1909', '05', '09'],
 ['1909', '05', '29'],
 ['1909', '05', '30'],
 ['1909', '05', '31'],
 ['1909', '06', '01'],
 ['1909', '08', '15'],
 ['1909', '09', '19'],
 ['1909', '10', '10'],
 ['1910', '02', '12'],
 ['1910', '03', '05'],
 ['1910', '03', '13'],
 ['1910', '03', '14'],
 ['1910', '03', '19'],
 ['1910', '04', '02'],
 ['1910', '04', '03'],
 ['1910', '04', '03'],
 ['1910', '04', '10'],
 ['1910', '04', '11'],
 ['1910', '04', '24'],
 ['1910', '05', '01'],
 ['1910', '05', '15'],
 ['1910', '05', '16'],
 ['1910', '05', '26'],
 ['1910', '05', '27'],
 ['1910', '05', '29'],
 ['1910', '06', '05'],
 ['1910', '06', '12'],
 ['1910', '08', '15'],
 ['1910', '09', '11'],
 ['1910', '09', '11'],
 ['1910', '10', '16'],
 ['1910', '11', '06'],
 ['1910', '11', '13'],
 ['1910', '11', '27'],
 ['1911', '01', '01'],
 ['1911', '01', '06'],
 ['1911', '01', '08'],
 ['1911', '01', '28'],
 ['1911', '02', '11'],
 ['1911', '03', '06'],
 ['1911', '03', '13'],
 ['1911', '03', '18'],
 ['1911', '03', '19'],
 ['1911', '03', '26'],
 ['1911', '04', '01'],
 ['1911', '04', '02'],
 ['1911', '04', '09'],
 ['1911', '04', '23'],
 ['1911', '04', '23'],
 ['1911', '04', '30'],
 ['1911', '05', '07'],
 ['1911', '05', '07'],
 ['1911', '05', '21'],
 ['1911', '06', '18'],
 ['1911', '08', '15'],
 ['1911', '09', '17'],
 ['1911', '09', '17'],
 ['1911', '10', '08'],
 ['1911', '10', '09'],
 ['1911', '10', '22'],
 ['1911', '10', '22'],
 ['1911', '10', '29'],
 ['1911', '10', '29'],
 ['1911', '10', '29'],
 ['1911', '10', '29'],
 ['1911', '11', '05'],
 ['1911', '12', '17'],
 ['1912', '01', '28'],
 ['1912', '02', '10'],
 ['1912', '02', '18'],
 ['1912', '02', '20'],
 ['1912', '03', '02'],
 ['1912', '03', '10'],
 ['1912', '03', '11'],
 ['1912', '03', '16'],
 ['1912', '03', '17'],
 ['1912', '03', '23'],
 ['1912', '03', '24'],
 ['1912', '04', '13'],
 ['1912', '04', '14'],
 ['1912', '04', '28'],
 ['1912', '05', '05'],
 ['1912', '05', '05'],
 ['1912', '06', '16'],
 ['1912', '06', '20'],
 ['1912', '06', '23'],
 ['1912', '06', '27'],
 ['1912', '07', '03'],
 ['1912', '07', '12'],
 ['1912', '07', '14'],
 ['1912', '08', '15'],
 ['1912', '08', '25'],
 ['1912', '09', '22'],
 ['1912', '10', '06'],
 ['1912', '10', '06'],
 ['1912', '11', '03'],
 ['1912', '11', '03'],
 ['1912', '11', '17'],
 ['1912', '12', '01'],
 ['1912', '12', '22'],
 ['1913', '01', '12'],
 ['1913', '01', '18'],
 ['1913', '02', '15'],
 ['1913', '02', '16'],
 ['1913', '03', '03'],
 ['1913', '03', '09'],
 ['1913', '03', '09'],
 ['1913', '03', '15'],
 ['1913', '03', '17'],
 ['1913', '04', '05'],
 ['1913', '04', '20'],
 ['1913', '04', '20'],
 ['1913', '04', '27'],
 ['1913', '05', '01'],
 ['1913', '05', '04'],
 ['1913', '05', '04'],
 ['1913', '05', '18'],
 ['1913', '05', '18'],
 ['1913', '05', '25'],
 ['1913', '06', '08'],
 ['1913', '06', '15'],
 ['1913', '06', '15'],
 ['1913', '07', '09'],
 ['1913', '08', '15'],
 ['1913', '08', '31'],
 ['1913', '09', '14'],
 ['1913', '09', '21'],
 ['1913', '10', '05'],
 ['1913', '10', '05'],
 ['1913', '10', '26'],
 ['1913', '10', '26'],
 ['1913', '10', '26'],
 ['1913', '10', '26'],
 ['1913', '11', '02'],
 ['1913', '11', '23'],
 ['1914', '01', '11'],
 ['1914', '01', '19'],
 ['1914', '01', '25'],
 ['1914', '02', '08'],
 ['1914', '02', '14'],
 ['1914', '02', '28'],
 ['1914', '03', '08'],
 ['1914', '03', '14'],
 ['1914', '03', '15'],
 ['1914', '03', '16'],
 ['1914', '03', '29'],
 ['1914', '04', '05'],
 ['1914', '04', '05'],
 ['1914', '04', '26'],
 ['1914', '05', '03'],
 ['1914', '05', '17'],
 ['1914', '05', '17'],
 ['1914', '05', '24'],
 ['1914', '05', '31'],
 ['1914', '06', '21'],
 ['1914', '06', '28'],
 ['1914', '07', '05'],
 ['1914', '07', '12'],
 ['1914', '08', '30'],
 ['1914', '09', '13'],
 ['1914', '09', '20'],
 ['1914', '09', '27'],
 ['1914', '10', '04'],
 ['1914', '10', '25'],
 ['1914', '11', '08'],
 ['1915', '01', '31'],
 ['1915', '05', '02'],
 ['1915', '05', '30'],
 ['1915', '06', '06'],
 ['1915', '06', '27'],
 ['1915', '07', '18'],
 ['1915', '08', '15'],
 ['1915', '09', '12'],
 ['1915', '09', '19'],
 ['1915', '10', '03'],
 ['1915', '10', '24'],
 ['1915', '10', '31'],
 ['1915', '11', '07'],
 ['1916', '05', '07'],
 ['1916', '06', '04'],
 ['1916', '06', '04'],
 ['1916', '06', '25'],
 ['1916', '07', '02'],
 ['1916', '07', '02'],
 ['1916', '07', '06'],
 ['1916', '07', '08'],
 ['1916', '07', '10'],
 ['1916', '07', '12'],
 ['1916', '07', '12'],
 ['1916', '07', '14'],
 ['1916', '07', '17'],
 ['1916', '07', '18'],
 ['1916', '08', '15'],
 ['1916', '08', '15'],
 ['1916', '08', '20'],
 ['1916', '09', '03'],
 ['1916', '10', '01'],
 ['1916', '10', '01'],
 ['1916', '10', '01'],
 ['1916', '10', '01'],
 ['1916', '10', '08'],
 ['1916', '10', '15'],
 ['1916', '10', '29'],
 ['1916', '11', '05'],
 ['1917', '05', '06'],
 ['1917', '05', '07'],
 ['1917', '06', '03'],
 ['1917', '06', '03'],
 ['1917', '06', '17'],
 ['1917', '07', '15'],
 ['1917', '07', '18'],
 ['1917', '08', '15'],
 ['1917', '08', '19'],
 ['1917', '09', '02'],
 ['1917', '09', '16'],
 ['1917', '09', '30'],
 ['1917', '10', '03'],
 ['1917', '10', '06'],
 ['1917', '10', '07'],
 ['1917', '10', '07'],
 ['1917', '10', '07'],
 ['1917', '10', '12'],
 ['1917', '10', '14'],
 ['1917', '10', '14'],
 ['1917', '10', '16'],
 ['1917', '11', '04'],
 ['1917', '12', '23'],
 ['1917', '12', '26'],
 ['1918', '04', '14'],
 ['1918', '05', '09'],
 ['1918', '05', '12'],
 ['1918', '05', '26'],
 ['1918', '06', '02'],
 ['1918', '06', '02'],
 ['1918', '06', '16'],
 ['1918', '07', '18'],
 ['1918', '07', '28'],
 ['1918', '08', '15'],
 ['1918', '08', '25'],
 ['1918', '09', '15'],
 ['1918', '09', '20'],
 ['1918', '09', '29'],
 ['1918', '10', '06'],
 ['1918', '10', '06'],
 ['1918', '10', '20'],
 ['1919', '03', '09'],
 ['1919', '04', '06'],
 ['1919', '05', '11'],
 ['1919', '05', '11'],
 ['1919', '05', '13'],
 ['1919', '05', '15'],
 ['1919', '05', '17'],
 ['1919', '05', '18'],
 ['1919', '05', '21'],
 ['1919', '05', '22'],
 ['1919', '05', '24'],
 ['1919', '05', '26'],
 ['1919', '05', '29'],
 ['1919', '05', '29'],
 ['1919', '06', '01'],
 ['1919', '06', '05'],
 ['1919', '06', '09'],
 ['1919', '06', '12'],
 ['1919', '06', '29'],
 ['1919', '07', '18'],
 ['1919', '08', '24'],
 ['1919', '08', '24'],
 ['1919', '08', '31'],
 ['1919', '09', '07'],
 ['1919', '09', '14'],
 ['1919', '09', '21'],
 ['1919', '09', '28'],
 ['1919', '10', '05'],
 ['1919', '10', '12'],
 ['1919', '10', '19'],
 ['1919', '10', '25'],
 ['1919', '11', '09'],
 ['1919', '12', '07'],
 ['1920', '01', '18'],
 ['1920', '02', '14'],
 ['1920', '02', '26'],
 ['1920', '02', '29'],
 ['1920', '03', '13'],
 ['1920', '03', '15'],
 ['1920', '03', '28'],
 ['1920', '03', '28'],
 ['1920', '04', '05'],
 ['1920', '04', '10'],
 ['1920', '05', '02'],
 ['1920', '05', '13'],
 ['1920', '05', '16'],
 ['1920', '05', '30'],
 ['1920', '06', '06'],
 ['1920', '06', '13'],
 ['1920', '06', '27'],
 ['1920', '06', '27'],
 ['1920', '07', '18'],
 ['1920', '07', '25'],
 ['1920', '08', '08'],
 ['1920', '09', '11'],
 ['1920', '09', '12'],
 ['1920', '09', '18'],
 ['1920', '09', '19'],
 ['1920', '09', '20'],
 ['1920', '09', '25'],
 ['1920', '09', '26'],
 ['1920', '09', '26'],
 ['1920', '10', '03'],
 ['1920', '10', '10'],
 ['1920', '10', '17'],
 ['1920', '10', '23'],
 ['1920', '10', '24'],
 ['1920', '11', '07'],
 ['1921', '02', '12'],
 ['1921', '02', '20'],
 ['1921', '02', '26'],
 ['1921', '03', '06'],
 ['1921', '03', '06'],
 ['1921', '03', '14'],
 ['1921', '03', '26'],
 ['1921', '04', '07'],
 ['1921', '04', '09'],
 ['1921', '04', '09'],
 ['1921', '04', '14'],
 ['1921', '04', '24'],
 ['1921', '05', '01'],
 ['1921', '05', '05'],
 ['1921', '05', '05'],
 ['1921', '05', '08'],
 ['1921', '05', '15'],
 ['1921', '05', '21'],
 ['1921', '05', '25'],
 ['1921', '05', '29'],
 ['1921', '05', '30'],
 ['1921', '06', '05'],
 ['1921', '06', '12'],
 ['1921', '06', '19'],
 ['1921', '07', '09'],
 ['1921', '07', '22'],
 ['1921', '07', '24'],
 ['1921', '07', '31'],
 ['1921', '08', '28'],
 ['1921', '09', '14'],
 ['1921', '09', '18'],
 ['1921', '09', '18'],
 ['1921', '09', '18'],
 ['1921', '09', '25'],
 ['1921', '10', '02'],
 ['1921', '10', '02'],
 ['1921', '10', '02'],
 ['1921', '10', '09'],
 ['1921', '10', '09'],
 ['1921', '10', '12'],
 ['1921', '10', '16'],
 ['1921', '10', '22'],
 ['1921', '10', '23'],
 ['1921', '10', '28'],
 ['1921', '10', '30'],
 ['1921', '11', '02'],
 ['1921', '11', '06'],
 ['1921', '11', '06'],
 ['1921', '11', '13'],
 ['1921', '11', '13'],
 ['1921', '12', '18'],
 ['1921', '12', '18'],
 ['1922', '01', '15'],
 ['1922', '01', '15'],
 ['1922', '02', '04'],
 ['1922', '02', '26'],
 ['1922', '03', '04'],
 ['1922', '03', '13'],
 ['1922', '03', '26'],
 ['1922', '03', '26'],
 ['1922', '04', '08'],
 ['1922', '04', '15'],
 ['1922', '04', '17'],
 ['1922', '04', '23'],
 ['1922', '04', '30'],
 ['1922', '04', '30'],
 ['1922', '05', '07'],
 ['1922', '05', '14'],
 ['1922', '05', '21'],
 ['1922', '05', '25'],
 ['1922', '05', '28'],
 ['1922', '06', '05'],
 ['1922', '06', '08'],
 ['1922', '06', '11'],
 ['1922', '06', '11'],
 ['1922', '06', '11'],
 ['1922', '06', '15'],
 ['1922', '06', '17'],
 ['1922', '06', '24'],
 ['1922', '06', '28'],
 ['1922', '07', '02'],
 ['1922', '07', '08'],
 ['1922', '07', '09'],
 ['1922', '07', '13'],
 ['1922', '08', '11'],
 ['1922', '08', '13'],
 ['1922', '08', '23'],
 ['1922', '08', '26'],
 ['1922', '09', '03'],
 ['1922', '09', '10'],
 ['1922', '09', '17'],
 ['1922', '09', '23'],
 ['1922', '09', '24'],
 ['1922', '09', '24'],
 ['1922', '09', '24'],
 ['1922', '09', '24'],
 ['1922', '09', '28'],
 ['1922', '10', '01'],
 ['1922', '10', '01'],
 ['1922', '10', '01'],
 ['1922', '10', '05'],
 ['1922', '10', '08'],
 ['1922', '10', '12'],
 ['1922', '10', '15'],
 ['1922', '10', '18'],
 ['1922', '10', '21'],
 ['1922', '10', '22'],
 ['1922', '10', '22'],
 ['1922', '10', '22'],
 ['1922', '10', '29'],
 ['1922', '11', '12'],
 ['1922', '11', '19'],
 ['1922', '11', '26'],
 ['1922', '12', '03'],
 ['1922', '12', '10'],
 ['1922', '12', '17'],
 ['1922', '12', '17'],
 ['1923', '01', '01'],
 ['1923', '01', '01'],
 ['1923', '01', '04'],
 ['1923', '01', '07'],
 ['1923', '01', '21'],
 ['1923', '01', '28'],
 ['1923', '02', '04'],
 ['1923', '02', '25'],
 ['1923', '03', '03'],
 ['1923', '03', '04'],
 ['1923', '03', '05'],
 ['1923', '03', '11'],
 ['1923', '03', '17'],
 ['1923', '03', '19'],
 ['1923', '04', '02'],
 ['1923', '04', '14'],
 ['1923', '04', '14'],
 ['1923', '04', '15'],
 ['1923', '04', '22'],
 ['1923', '04', '29'],
 ['1923', '05', '06'],
 ['1923', '05', '06'],
 ['1923', '05', '10'],
 ['1923', '05', '10'],
 ['1923', '05', '20'],
 ['1923', '05', '21'],
 ['1923', '05', '22'],
 ['1923', '05', '24'],
 ['1923', '05', '24'],
 ['1923', '05', '25'],
 ['1923', '05', '27'],
 ['1923', '06', '03'],
 ['1923', '06', '03'],
 ['1923', '06', '09'],
 ['1923', '06', '10'],
 ['1923', '06', '10'],
 ['1923', '06', '16'],
 ['1923', '06', '17'],
 ['1923', '06', '17'],
 ['1923', '06', '20'],
 ['1923', '06', '21'],
 ['1923', '06', '24'],
 ['1923', '06', '24'],
 ['1923', '06', '29'],
 ['1923', '06', '30'],
 ['1923', '07', '01'],
 ['1923', '07', '15'],
 ['1923', '07', '22'],
 ['1923', '07', '24'],
 ['1923', '08', '12'],
 ['1923', '08', '15'],
 ['1923', '08', '19'],
 ['1923', '09', '02'],
 ['1923', '09', '16'],
 ['1923', '09', '18'],
 ['1923', '09', '23'],
 ['1923', '09', '23'],
 ['1923', '09', '25'],
 ['1923', '09', '30'],
 ['1923', '09', '30'],
 ['1923', '09', '30'],
 ['1923', '10', '14'],
 ['1923', '10', '20'],
 ['1923', '10', '26'],
 ['1923', '10', '28'],
 ['1923', '10', '28'],
 ['1923', '10', '28'],
 ['1923', '10', '29'],
 ['1923', '11', '01'],
 ['1923', '11', '01'],
 ['1923', '11', '04'],
 ['1923', '11', '04'],
 ['1923', '11', '11'],
 ['1923', '11', '18'],
 ['1923', '11', '22'],
 ['1923', '11', '25'],
 ['1923', '11', '25'],
 ['1923', '11', '25'],
 ['1923', '12', '02'],
 ['1923', '12', '02'],
 ['1923', '12', '02'],
 ['1923', '12', '09'],
 ['1923', '12', '09'],
 ['1923', '12', '12'],
 ['1923', '12', '16'],
 ['1923', '12', '16'],
 ['1924', '01', '13'],
 ['1924', '01', '13'],
 ['1924', '01', '20'],
 ['1924', '02', '10'],
 ['1924', '02', '16'],
 ['1924', '03', '01'],
 ['1924', '03', '03'],
 ['1924', '03', '09'],
 ['1924', '03', '15'],
 ['1924', '03', '23'],
 ['1924', '03', '23'],
 ['1924', '04', '06'],
 ['1924', '04', '06'],
 ['1924', '04', '12'],
 ['1924', '04', '21'],
 ['1924', '04', '21'],
 ['1924', '04', '27'],
 ['1924', '05', '04'],
 ['1924', '05', '15'],
 ['1924', '05', '17'],
 ['1924', '05', '18'],
 ['1924', '05', '18'],
 ['1924', '05', '18'],
 ['1924', '05', '20'],
 ['1924', '05', '21'],
 ['1924', '05', '25'],
 ['1924', '05', '25'],
 ['1924', '05', '27'],
 ['1924', '06', '04'],
 ['1924', '06', '07'],
 ['1924', '06', '10'],
 ['1924', '06', '14'],
 ['1924', '06', '15'],
 ['1924', '06', '15'],
 ['1924', '06', '17'],
 ['1924', '06', '19'],
 ['1924', '06', '22'],
 ['1924', '06', '22'],
 ['1924', '06', '23'],
 ['1924', '06', '28'],
 ['1924', '06', '29'],
 ['1924', '06', '29'],
 ['1924', '07', '12'],
 ['1924', '07', '25'],
 ['1924', '07', '26'],
 ['1924', '07', '28'],
 ['1924', '08', '10'],
 ['1924', '08', '14'],
 ['1924', '08', '23'],
 ['1924', '08', '24'],
 ['1924', '08', '31'],
 ['1924', '08', '31'],
 ['1924', '08', '31'],
 ['1924', '09', '14'],
 ['1924', '09', '14'],
 ['1924', '09', '14'],
 ['1924', '09', '21'],
 ['1924', '09', '21'],
 ['1924', '09', '21'],
 ['1924', '09', '24'],
 ['1924', '09', '28'],
 ['1924', '10', '02'],
 ['1924', '10', '05'],
 ['1924', '10', '12'],
 ['1924', '10', '18'],
 ['1924', '10', '19'],
 ['1924', '10', '22'],
 ['1924', '10', '25'],
 ['1924', '10', '26'],
 ['1924', '11', '01'],
 ['1924', '11', '02'],
 ['1924', '11', '02'],
 ['1924', '11', '09'],
 ['1924', '11', '11'],
 ['1924', '11', '16'],
 ['1924', '11', '16'],
 ['1924', '11', '23'],
 ['1924', '12', '08'],
 ['1924', '12', '14'],
 ['1924', '12', '21'],
 ['1925', '02', '14'],
 ['1925', '02', '28'],
 ['1925', '02', '28'],
 ['1925', '03', '15'],
 ['1925', '03', '22'],
 ['1925', '03', '22'],
 ['1925', '03', '22'],
 ['1925', '03', '25'],
 ['1925', '03', '26'],
 ['1925', '03', '29'],
 ['1925', '03', '29'],
 ['1925', '04', '04'],
 ['1925', '04', '10'],
 ['1925', '04', '18'],
 ['1925', '04', '19'],
 ['1925', '04', '19'],
 ['1925', '05', '01'],
 ['1925', '05', '03'],
 ['1925', '05', '05'],
 ['1925', '05', '15'],
 ['1925', '05', '20'],
 ['1925', '05', '21'],
 ['1925', '05', '21'],
 ['1925', '05', '22'],
 ['1925', '05', '24'],
 ['1925', '05', '24'],
 ['1925', '05', '31'],
 ['1925', '06', '01'],
 ['1925', '06', '07'],
 ['1925', '06', '09'],
 ['1925', '06', '14'],
 ['1925', '06', '14'],
 ['1925', '06', '18'],
 ['1925', '06', '21'],
 ['1925', '06', '21'],

In [17]:
#年、月、日を格納する列を作成（難易度高め,初学者は書き方を知って置いて、出てきたときにビビらない程度になれば良い）
df['year'] = pd.to_numeric([date.split('-')[0] for date in df['date']]) #実施年だけを格納した列
df['month'] = pd.to_numeric([date.split('-')[1] for date in df['date']]) #実施月だけを格納した列
df['day'] = pd.to_numeric([date.split('-')[2] for date in df['date']]) #実施日だけを格納した列

print(df.head())

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral  point_diff  year  month  day
0  Scotland    False           0  1872     11   30
1   England    False           2  1873      3    8
2  Scotland    False           1  1874      3    7
3   England    False           0  1875      3    6
4  Scotland    False           3  1876      3    4

## データの並び替え

In [10]:
#home_scoreによる並び替え
#ascending = Falseで降順指定。Trueだと昇順。デフォルトはTrue。
df.sort_values("home_score",ascending = False) 

#away_scoreとhomescoreによる並び替え。away_score優先
df.sort_values(["away_score","home_score"],ascending = False)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
27065,2005-03-11,Guam,Korea DPR,0,21,EAFF Championship,Taipei,Taiwan,True
14625,1987-12-15,American Samoa,Papua New Guinea,0,20,South Pacific Games,Nouméa,New Caledonia,True
12620,1983-08-22,Niue,Papua New Guinea,0,19,South Pacific Games,Apia,Western Samoa,True
5395,1963-09-06,Solomon Islands,Tahiti,0,18,South Pacific Games,Suva,Fiji,True
25416,2003-07-01,Micronesia FS,New Caledonia,0,18,South Pacific Games,Suva,Fiji,True
...,...,...,...,...,...,...,...,...,...
38990,2018-06-02,Zambia,Namibia,0,0,COSAFA Cup,Polokwane,South Africa,True
38999,2018-06-03,Barbados,Belize,0,0,Friendly,Bridgetown,Barbados,False
39000,2018-06-03,Andorra,Cape Verde,0,0,Friendly,Almada,Portugal,True
39001,2018-06-03,South Africa,Madagascar,0,0,COSAFA Cup,Polokwane,South Africa,False
39006,2018-06-04,Armenia,Moldova,0,0,Friendly,Kematen,Austria,True

## データの置換

In [8]:
#1を100に置き換える
print(df.replace({1:100}))

#1を100に2を200に置き換える
print(df.replace({1:100,2:200}))

#Trueを1、Falseを0に置き換える
print(df.replace({True:1,False:0}))

             date home_team    away_team  home_score  away_score tournament  \
0      1872-11-30  Scotland      England           0           0   Friendly
1      1873-03-08   England     Scotland           4           2   Friendly
2      1874-03-07  Scotland      England           2         100   Friendly
3      1875-03-06   England     Scotland           2           2   Friendly
4      1876-03-04  Scotland      England           3           0   Friendly
...           ...       ...          ...         ...         ...        ...
39003  2018-06-04     Italy  Netherlands         100         100   Friendly
39004  2018-06-04    Serbia        Chile           0         100   Friendly
39005  2018-06-04  Slovakia      Morocco         100           2   Friendly
39006  2018-06-04   Armenia      Moldova           0           0   Friendly
39007  2018-06-04     India        Kenya           3           0   Friendly

          city      country neutral
0      Glasgow     Scotland   False
1       London      England   False
2      Glasgow     Scotland   False
3       London      England   False
4      Glasgow     Scotland   False
...        ...          ...     ...
39003    Turin        Italy   False
39004     Graz      Austria     100
39005   Geneva  Switzerland     100
39006  Kematen      Austria     100
39007   Mumbai        India   False

[39008 rows x 9 columns]
             date home_team    away_team  home_score  away_score tournament  \
0      1872-11-30  Scotland      England           0           0   Friendly
1      1873-03-08   England     Scotland           4         200   Friendly
2      1874-03-07  Scotland      England         200         100   Friendly
3      1875-03-06   England     Scotland         200         200   Friendly
4      1876-03-04  Scotland      England           3           0   Friendly
...           ...       ...          ...         ...         ...        ...
39003  2018-06-04     Italy  Netherlands         100         100   Friendly
39004  2018-06-04    Serbia        Chile           0         100   Friendly
39005  2018-06-04  Slovakia      Morocco         100         200   Friendly
39006  2018-06-04   Armenia      Moldova           0           0   Friendly
39007  2018-06-04     India        Kenya           3           0   Friendly

          city      country neutral
0      Glasgow     Scotland   False
1       London      England   False
2      Glasgow     Scotland   False
3       London      England   False
4      Glasgow     Scotland   False
...        ...          ...     ...
39003    Turin        Italy   False
39004     Graz      Austria     100
39005   Geneva  Switzerland     100
39006  Kematen      Austria     100
39007   Mumbai        India   False

[39008 rows x 9 columns]
             date home_team    away_team  home_score  away_score tournament  \
0      1872-11-30  Scotland      England           0           0   Friendly
1      1873-03-08   England     Scotland           4           2   Friendly
2      1874-03-07  Scotland      England           2           1   Friendly
3      1875-03-06   England     Scotland           2           2   Friendly
4      1876-03-04  Scotland      England           3           0   Friendly
...           ...       ...          ...         ...         ...        ...
39003  2018-06-04     Italy  Netherlands           1           1   Friendly
39004  2018-06-04    Serbia        Chile           0           1   Friendly
39005  2018-06-04  Slovakia      Morocco           1           2   Friendly
39006  2018-06-04   Armenia      Moldova           0           0   Friendly
39007  2018-06-04     India        Kenya           3           0   Friendly

          city      country  neutral
0      Glasgow     Scotland        0
1       London      England        0
2      Glasgow     Scotland        0
3       London      England        0
4      Glasgow     Scotland        0
...        ...          ...      ...
39003    Turin        Italy        0
39004     Graz      Austria        1
39005   Geneva  Switzerland        1
39006  Kematen      Austria        1
39007   Mumbai        India        0

[39008 rows x 9 columns]

## 日本、ブラジル、ドイツ、イタリア、アルゼンチンしか含まないデータを作成

In [12]:
Japan_exists = (df[["home_team","away_team"]] == "Japan").any(axis = 1).replace({True:1,False:0})
Brazil_exists = (df[["home_team","away_team"]] == "Brazil").any(axis = 1).replace({True:1,False:0})
Germany_exists = (df[["home_team","away_team"]] == "Germany").any(axis = 1).replace({True:1,False:0})
Italy_exists = (df[["home_team","away_team"]] == "Italy").any(axis = 1).replace({True:1,False:0})
Argentina_exists = (df[["home_team","away_team"]] == "Argentina").any(axis = 1).replace({True:1,False:0})

df5 = df[Japan_exists+ Brazil_exists + Germany_exists + Italy_exists + Argentina_exists == 2]
print(df5)

             date  home_team  away_team  home_score  away_score    tournament  \
398    1914-09-20  Argentina     Brazil           3           0      Friendly
399    1914-09-27  Argentina     Brazil           0           1     Copa Roca
424    1916-07-10  Argentina     Brazil           1           1  Copa América
454    1917-10-03  Argentina     Brazil           4           2  Copa América
490    1919-05-18     Brazil  Argentina           3           1  Copa América
...           ...        ...        ...         ...         ...           ...
37869  2016-11-15      Italy    Germany           0           0      Friendly
38178  2017-06-09  Argentina     Brazil           1           0      Friendly
38625  2017-11-10      Japan     Brazil           1           3      Friendly
38821  2018-03-23      Italy  Argentina           0           2      Friendly
38883  2018-03-27    Germany     Brazil           0           1      Friendly

                    city    country  neutral
398         Buenos Aires  Argentina    False
399         Buenos Aires  Argentina    False
424         Buenos Aires  Argentina    False
454           Montevideo    Uruguay     True
490       Rio de Janeiro     Brazil    False
...                  ...        ...      ...
37869              Milan      Italy    False
38178          Melbourne  Australia     True
38625  Villeneuve-d'Ascq     France     True
38821         Manchester    England     True
38883             Berlin    Germany    False

[235 rows x 9 columns]

## csvファイルへのデータの書き出し

In [16]:
#データの書き出し
df5.to_csv("5team.csv",index = False) #index = Falseで行名は書き出さない

## 勝利チーム列を追加

### 引き分け以外のデータを先に追加（引き分けはNaNとする）

In [23]:
#勝った国の列を追加
homewin = (df5[df5.away_score < df5.home_score]).home_team #ホームチームが勝った場合

#print(homewin)
awaywin = (df5[df5.away_score > df5.home_score]).away_team #アウェイチームが勝った場合
#print(awaywin)
winCountry = pd.concat([homewin,awaywin])

In [24]:
winCountry

398      Argentina
454      Argentina
490         Brazil
542      Argentina
585      Argentina
654         Brazil
659         Brazil
669          Italy
741      Argentina
749      Argentina
907      Argentina
1514         Italy
1913     Argentina
1915     Argentina
2138        Brazil
2160         Italy
2216       Germany
2227     Argentina
2231     Argentina
2246         Italy
2331     Argentina
2463     Argentina
2508        Brazil
2509        Brazil
2527     Argentina
3666         Italy
3816         Italy
3882         Italy
3910     Argentina
3918        Brazil
           ...
21041    Argentina
21686       Brazil
23405    Argentina
24445    Argentina
24599       Brazil
24875    Argentina
25335    Argentina
25514        Italy
26521    Argentina
26915      Germany
27321       Brazil
28064       Brazil
28089        Italy
28216       Brazil
30950       Brazil
31071       Brazil
31517    Argentina
31733      Germany
33633    Argentina
33724        Italy
33775    Argentina
34061       Brazil
34837    Argentina
35591      Germany
35644    Argentina
35802       Brazil
35864       Brazil
38625       Brazil
38821    Argentina
38883       Brazil
Length: 177, dtype: object

In [19]:
#勝った国の列を追加
homewin = (df5[df5.away_score < df5.home_score]).home_team #ホームチームが勝った場合

#print(homewin)
awaywin = (df5[df5.away_score > df5.home_score]).away_team #アウェイチームが勝った場合
#print(awaywin)
winCountry = pd.concat([homewin,awaywin]) #
print(winCountry)
#print(df5)
df5["win_country"] = winCountry #
print(df5.head())

398      Argentina
454      Argentina
490         Brazil
542      Argentina
585      Argentina
           ...
35802       Brazil
35864       Brazil
38625       Brazil
38821    Argentina
38883       Brazil
Length: 177, dtype: object
           date  home_team  away_team  home_score  away_score    tournament  \
398  1914-09-20  Argentina     Brazil           3           0      Friendly
399  1914-09-27  Argentina     Brazil           0           1     Copa Roca
424  1916-07-10  Argentina     Brazil           1           1  Copa América
454  1917-10-03  Argentina     Brazil           4           2  Copa América
490  1919-05-18     Brazil  Argentina           3           1  Copa América

               city    country  neutral win_country
398    Buenos Aires  Argentina    False   Argentina
399    Buenos Aires  Argentina    False      Brazil
424    Buenos Aires  Argentina    False         NaN
454      Montevideo    Uruguay     True   Argentina
490  Rio de Janeiro     Brazil    False      Brazil

/home/juan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

### 欠損値処理(NaNに対する処理)

In [23]:
#欠損値のある行を除外する
print(df5.dropna())

#欠損値を穴埋めする
print(df5.fillna(0))

#欠損値を抽出する
print(df5.isnull())
print(df5[df5["win_country"].isnull()])

#欠損値を0で穴埋めしてもとデータに代入
df5 = df5.fillna(0)
print(df5)

<bound method DataFrame.dropna of              date  home_team  away_team  home_score  away_score  \
398    1914-09-20  Argentina     Brazil           3           0
399    1914-09-27  Argentina     Brazil           0           1
424    1916-07-10  Argentina     Brazil           1           1
454    1917-10-03  Argentina     Brazil           4           2
490    1919-05-18     Brazil  Argentina           3           1
497    1919-06-01     Brazil  Argentina           3           3
542    1920-09-25  Argentina     Brazil           2           0
585    1921-10-02  Argentina     Brazil           1           0
654    1922-10-15     Brazil  Argentina           2           0
659    1922-10-22     Brazil  Argentina           2           1
669    1923-01-01      Italy    Germany           3           1
741    1923-11-18  Argentina     Brazil           2           1
746    1923-12-02  Argentina     Brazil           0           2
749    1923-12-09  Argentina     Brazil           2           0
830    1924-11-23    Germany      Italy           0           1
907    1925-12-13  Argentina     Brazil           4           1
911    1925-12-25  Argentina     Brazil           2           2
1165   1929-04-28      Italy    Germany           1           2
1238   1930-03-02    Germany      Italy           0           2
1514   1933-01-01      Italy    Germany           3           1
1885   1936-11-15    Germany      Italy           2           2
1913   1937-01-30  Argentina     Brazil           1           0
1915   1937-02-01  Argentina     Brazil           2           0
2066   1938-06-16     Brazil      Italy           1           2
2135   1939-01-15     Brazil  Argentina           1           5
2138   1939-01-22     Brazil  Argentina           3           2
2160   1939-03-26      Italy    Germany           3           2
2216   1939-11-26    Germany      Italy           5           2
2221   1940-02-18     Brazil  Argentina           2           2
2224   1940-02-25     Brazil  Argentina           0           3
...           ...        ...        ...         ...         ...
32338  2011-02-09    Germany      Italy           1           1
32756  2011-08-10    Germany     Brazil           3           2
32970  2011-09-14  Argentina     Brazil           0           0
32973  2011-09-28     Brazil  Argentina           2           0
33633  2012-06-09     Brazil  Argentina           3           4
33724  2012-06-28    Germany      Italy           1           2
33775  2012-08-15    Germany  Argentina           1           3
33945  2012-09-19     Brazil  Argentina           2           1
34061  2012-10-16      Japan     Brazil           0           4
34170  2012-11-21  Argentina     Brazil           2           1
34462  2013-03-21      Italy     Brazil           2           2
34707  2013-06-15     Brazil      Japan           3           0
34735  2013-06-19      Italy      Japan           4           3
34738  2013-06-22     Brazil      Italy           4           2
34837  2013-08-14      Italy  Argentina           1           2
35125  2013-11-15      Italy    Germany           1           1
35591  2014-07-08     Brazil    Germany           1           7
35596  2014-07-13    Germany  Argentina           1           0
35644  2014-09-03    Germany  Argentina           2           4
35802  2014-10-11  Argentina     Brazil           0           2
35864  2014-10-14      Japan     Brazil           0           4
36893  2015-11-13  Argentina     Brazil           1           1
37203  2016-03-29    Germany      Italy           4           1
37503  2016-07-02    Germany      Italy           1           1
37792  2016-11-10     Brazil  Argentina           3           0
37869  2016-11-15      Italy    Germany           0           0
38178  2017-06-09  Argentina     Brazil           1           0
38625  2017-11-10      Japan     Brazil           1           3
38821  2018-03-23      Italy  Argentina           0           2
38883  2018-03-27    Germany     Brazil           0           1

                         tournament               city      country  neutral  \
398                        Friendly       Buenos Aires    Argentina    False
399                       Copa Roca       Buenos Aires    Argentina    False
424                    Copa América       Buenos Aires    Argentina    False
454                    Copa América         Montevideo      Uruguay     True
490                    Copa América     Rio de Janeiro       Brazil    False
497                        Friendly     Rio de Janeiro       Brazil    False
542                    Copa América       Viña del Mar        Chile     True
585                    Copa América       Buenos Aires    Argentina    False
654                    Copa América     Rio de Janeiro       Brazil    False
659                       Copa Roca          São Paulo       Brazil    False
669                        Friendly              Milan        Italy    False
741                    Copa América         Montevideo      Uruguay     True
746                        Friendly       Buenos Aires    Argentina    False
749                       Copa Roca       Buenos Aires    Argentina    False
830                        Friendly           Duisburg      Germany    False
907                    Copa América       Buenos Aires    Argentina    False
911                    Copa América       Buenos Aires    Argentina    False
1165                       Friendly              Turin        Italy    False
1238                       Friendly  Frankfurt am Main      Germany    False
1514                       Friendly            Bologna        Italy    False
1885                       Friendly             Berlin      Germany    False
1913                   Copa América       Buenos Aires    Argentina    False
1915                   Copa América       Buenos Aires    Argentina    False
2066                 FIFA World Cup          Marseille       France     True
2135                      Copa Roca     Rio de Janeiro       Brazil    False
2138                      Copa Roca     Rio de Janeiro       Brazil    False
2160                       Friendly           Florence        Italy    False
2216                       Friendly             Berlin      Germany    False
2221                      Copa Roca          São Paulo       Brazil    False
2224                      Copa Roca          São Paulo       Brazil    False
...                             ...                ...          ...      ...
32338                      Friendly           Dortmund      Germany    False
32756                      Friendly          Stuttgart      Germany    False
32970                      Friendly            Córdoba    Argentina    False
32973                      Friendly              Belém       Brazil    False
33633                      Friendly    East Rutherford          USA     True
33724                     UEFA Euro             Warsaw       Poland     True
33775                      Friendly  Frankfurt am Main      Germany    False
33945                      Friendly            Goiânia       Brazil    False
34061                      Friendly            Wrocław       Poland     True
34170                      Friendly       Buenos Aires    Argentina    False
34462                      Friendly             Geneva  Switzerland     True
34707            Confederations Cup           Brasília       Brazil    False
34735            Confederations Cup             Recife       Brazil     True
34738            Confederations Cup           Salvador       Brazil    False
34837                      Friendly               Rome        Italy    False
35125                      Friendly              Milan        Italy    False
35591                FIFA World Cup     Belo Horizonte       Brazil    False
35596                FIFA World Cup     Rio de Janeiro       Brazil     True
35644                      Friendly         Düsseldorf      Germany    False
35802                      Friendly            Beijing        China     True
35864                      Friendly            Kallang    Singapore     True
36893  FIFA World Cup qualification       Buenos Aires    Argentina    False
37203                      Friendly             Munich      Germany    False
37503                     UEFA Euro           Bordeaux       France     True
37792  FIFA World Cup qualification     Belo Horizonte       Brazil    False
37869                      Friendly              Milan        Italy    False
38178                      Friendly          Melbourne    Australia     True
38625                      Friendly  Villeneuve-d'Ascq       France     True
38821                      Friendly         Manchester      England     True
38883                      Friendly             Berlin      Germany    False

       point_diff  year  month  day win_country
398             3  1914      9   20   Argentina
399             1  1914      9   27      Brazil
424             0  1916      7   10         NaN
454             2  1917     10    3   Argentina
490             2  1919      5   18      Brazil
497             0  1919      6    1         NaN
542             2  1920      9   25   Argentina
585             1  1921     10    2   Argentina
654             2  1922     10   15      Brazil
659             1  1922     10   22      Brazil
669             2  1923      1    1       Italy
741             1  1923     11   18   Argentina
746             2  1923     12    2      Brazil
749             2  1923     12    9   Argentina
830             1  1924     11   23       Italy
907             3  1925     12   13   Argentina
911             0  1925     12   25         NaN
1165            1  1929      4   28     Germany
1238            2  1930      3    2       Italy
1514            2  1933      1    1       Italy
1885            0  1936     11   15         NaN
1913            1  1937      1   30   Argentina
1915            2  1937      2    1   Argentina
2066            1  1938      6   16       Italy
2135            4  1939      1   15   Argentina
2138            1  1939      1   22      Brazil
2160            1  1939      3   26       Italy
2216            3  1939     11   26     Germany
2221            0  1940      2   18         NaN
2224            3  1940      2   25   Argentina
...           ...   ...    ...  ...         ...
32338           0  2011      2    9         NaN
32756           1  2011      8   10     Germany
32970           0  2011      9   14         NaN
32973           2  2011      9   28      Brazil
33633           1  2012      6    9   Argentina
33724           1  2012      6   28       Italy
33775           2  2012      8   15   Argentina
33945           1  2012      9   19      Brazil
34061           4  2012     10   16      Brazil
34170           1  2012     11   21   Argentina
34462           0  2013      3   21         NaN
34707           3  2013      6   15      Brazil
34735           1  2013      6   19       Italy
34738           2  2013      6   22      Brazil
34837           1  2013      8   14   Argentina
35125           0  2013     11   15         NaN
35591           6  2014      7    8     Germany
35596           1  2014      7   13     Germany
35644           2  2014      9    3   Argentina
35802           2  2014     10   11      Brazil
35864           4  2014     10   14      Brazil
36893           0  2015     11   13         NaN
37203           3  2016      3   29     Germany
37503           0  2016      7    2         NaN
37792           3  2016     11   10      Brazil
37869           0  2016     11   15         NaN
38178           1  2017      6    9   Argentina
38625           2  2017     11   10      Brazil
38821           2  2018      3   23   Argentina
38883           1  2018      3   27      Brazil

[235 rows x 14 columns]>
             date  home_team  away_team  home_score  away_score  \
398    1914-09-20  Argentina     Brazil           3           0
399    1914-09-27  Argentina     Brazil           0           1
424    1916-07-10  Argentina     Brazil           1           1
454    1917-10-03  Argentina     Brazil           4           2
490    1919-05-18     Brazil  Argentina           3           1
497    1919-06-01     Brazil  Argentina           3           3
542    1920-09-25  Argentina     Brazil           2           0
585    1921-10-02  Argentina     Brazil           1           0
654    1922-10-15     Brazil  Argentina           2           0
659    1922-10-22     Brazil  Argentina           2           1
669    1923-01-01      Italy    Germany           3           1
741    1923-11-18  Argentina     Brazil           2           1
746    1923-12-02  Argentina     Brazil           0           2
749    1923-12-09  Argentina     Brazil           2           0
830    1924-11-23    Germany      Italy           0           1
907    1925-12-13  Argentina     Brazil           4           1
911    1925-12-25  Argentina     Brazil           2           2
1165   1929-04-28      Italy    Germany           1           2
1238   1930-03-02    Germany      Italy           0           2
1514   1933-01-01      Italy    Germany           3           1
1885   1936-11-15    Germany      Italy           2           2
1913   1937-01-30  Argentina     Brazil           1           0
1915   1937-02-01  Argentina     Brazil           2           0
2066   1938-06-16     Brazil      Italy           1           2
2135   1939-01-15     Brazil  Argentina           1           5
2138   1939-01-22     Brazil  Argentina           3           2
2160   1939-03-26      Italy    Germany           3           2
2216   1939-11-26    Germany      Italy           5           2
2221   1940-02-18     Brazil  Argentina           2           2
2224   1940-02-25     Brazil  Argentina           0           3
...           ...        ...        ...         ...         ...
32338  2011-02-09    Germany      Italy           1           1
32756  2011-08-10    Germany     Brazil           3           2
32970  2011-09-14  Argentina     Brazil           0           0
32973  2011-09-28     Brazil  Argentina           2           0
33633  2012-06-09     Brazil  Argentina           3           4
33724  2012-06-28    Germany      Italy           1           2
33775  2012-08-15    Germany  Argentina           1           3
33945  2012-09-19     Brazil  Argentina           2           1
34061  2012-10-16      Japan     Brazil           0           4
34170  2012-11-21  Argentina     Brazil           2           1
34462  2013-03-21      Italy     Brazil           2           2
34707  2013-06-15     Brazil      Japan           3           0
34735  2013-06-19      Italy      Japan           4           3
34738  2013-06-22     Brazil      Italy           4           2
34837  2013-08-14      Italy  Argentina           1           2
35125  2013-11-15      Italy    Germany           1           1
35591  2014-07-08     Brazil    Germany           1           7
35596  2014-07-13    Germany  Argentina           1           0
35644  2014-09-03    Germany  Argentina           2           4
35802  2014-10-11  Argentina     Brazil           0           2
35864  2014-10-14      Japan     Brazil           0           4
36893  2015-11-13  Argentina     Brazil           1           1
37203  2016-03-29    Germany      Italy           4           1
37503  2016-07-02    Germany      Italy           1           1
37792  2016-11-10     Brazil  Argentina           3           0
37869  2016-11-15      Italy    Germany           0           0
38178  2017-06-09  Argentina     Brazil           1           0
38625  2017-11-10      Japan     Brazil           1           3
38821  2018-03-23      Italy  Argentina           0           2
38883  2018-03-27    Germany     Brazil           0           1

                         tournament               city      country  neutral  \
398                        Friendly       Buenos Aires    Argentina    False
399                       Copa Roca       Buenos Aires    Argentina    False
424                    Copa América       Buenos Aires    Argentina    False
454                    Copa América         Montevideo      Uruguay     True
490                    Copa América     Rio de Janeiro       Brazil    False
497                        Friendly     Rio de Janeiro       Brazil    False
542                    Copa América       Viña del Mar        Chile     True
585                    Copa América       Buenos Aires    Argentina    False
654                    Copa América     Rio de Janeiro       Brazil    False
659                       Copa Roca          São Paulo       Brazil    False
669                        Friendly              Milan        Italy    False
741                    Copa América         Montevideo      Uruguay     True
746                        Friendly       Buenos Aires    Argentina    False
749                       Copa Roca       Buenos Aires    Argentina    False
830                        Friendly           Duisburg      Germany    False
907                    Copa América       Buenos Aires    Argentina    False
911                    Copa América       Buenos Aires    Argentina    False
1165                       Friendly              Turin        Italy    False
1238                       Friendly  Frankfurt am Main      Germany    False
1514                       Friendly            Bologna        Italy    False
1885                       Friendly             Berlin      Germany    False
1913                   Copa América       Buenos Aires    Argentina    False
1915                   Copa América       Buenos Aires    Argentina    False
2066                 FIFA World Cup          Marseille       France     True
2135                      Copa Roca     Rio de Janeiro       Brazil    False
2138                      Copa Roca     Rio de Janeiro       Brazil    False
2160                       Friendly           Florence        Italy    False
2216                       Friendly             Berlin      Germany    False
2221                      Copa Roca          São Paulo       Brazil    False
2224                      Copa Roca          São Paulo       Brazil    False
...                             ...                ...          ...      ...
32338                      Friendly           Dortmund      Germany    False
32756                      Friendly          Stuttgart      Germany    False
32970                      Friendly            Córdoba    Argentina    False
32973                      Friendly              Belém       Brazil    False
33633                      Friendly    East Rutherford          USA     True
33724                     UEFA Euro             Warsaw       Poland     True
33775                      Friendly  Frankfurt am Main      Germany    False
33945                      Friendly            Goiânia       Brazil    False
34061                      Friendly            Wrocław       Poland     True
34170                      Friendly       Buenos Aires    Argentina    False
34462                      Friendly             Geneva  Switzerland     True
34707            Confederations Cup           Brasília       Brazil    False
34735            Confederations Cup             Recife       Brazil     True
34738            Confederations Cup           Salvador       Brazil    False
34837                      Friendly               Rome        Italy    False
35125                      Friendly              Milan        Italy    False
35591                FIFA World Cup     Belo Horizonte       Brazil    False
35596                FIFA World Cup     Rio de Janeiro       Brazil     True
35644                      Friendly         Düsseldorf      Germany    False
35802                      Friendly            Beijing        China     True
35864                      Friendly            Kallang    Singapore     True
36893  FIFA World Cup qualification       Buenos Aires    Argentina    False
37203                      Friendly             Munich      Germany    False

### home_teamが勝利したかの列を追加

In [20]:
import numpy as np

#勝利は1、引き分け0、敗北は-1
df5["home_win"] = np.nan
df5["home_win"] = df5["home_win"].mask(df5.home_score > df5.away_score , 1)
df5["home_win"] = df5["home_win"].mask(df5.home_score == df5.away_score , 0)
df5["home_win"] = df5["home_win"].mask(df5.home_score < df5.away_score , -1)
print(df5.head())

           date  home_team  away_team  home_score  away_score    tournament  \
398  1914-09-20  Argentina     Brazil           3           0      Friendly
399  1914-09-27  Argentina     Brazil           0           1     Copa Roca
424  1916-07-10  Argentina     Brazil           1           1  Copa América
454  1917-10-03  Argentina     Brazil           4           2  Copa América
490  1919-05-18     Brazil  Argentina           3           1  Copa América

               city    country  neutral win_country  home_win
398    Buenos Aires  Argentina    False   Argentina       1.0
399    Buenos Aires  Argentina    False      Brazil      -1.0
424    Buenos Aires  Argentina    False         NaN       0.0
454      Montevideo    Uruguay     True   Argentina       1.0
490  Rio de Janeiro     Brazil    False      Brazil       1.0

/home/juan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/juan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/juan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/juan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

## ダミー変数化

In [25]:
#チームをダミー変数化したデータフレームを作成
team_dummy = pd.get_dummies(df5[["home_team","away_team"]])
print(team_dummy)

       home_team_Argentina  home_team_Brazil  home_team_Germany  \
398                      1                 0                  0
399                      1                 0                  0
424                      1                 0                  0
454                      1                 0                  0
490                      0                 1                  0
497                      0                 1                  0
542                      1                 0                  0
585                      1                 0                  0
654                      0                 1                  0
659                      0                 1                  0
669                      0                 0                  0
741                      1                 0                  0
746                      1                 0                  0
749                      1                 0                  0
830                      0                 0                  1
907                      1                 0                  0
911                      1                 0                  0
1165                     0                 0                  0
1238                     0                 0                  1
1514                     0                 0                  0
1885                     0                 0                  1
1913                     1                 0                  0
1915                     1                 0                  0
2066                     0                 1                  0
2135                     0                 1                  0
2138                     0                 1                  0
2160                     0                 0                  0
2216                     0                 0                  1
2221                     0                 1                  0
2224                     0                 1                  0
...                    ...               ...                ...
32338                    0                 0                  1
32756                    0                 0                  1
32970                    1                 0                  0
32973                    0                 1                  0
33633                    0                 1                  0
33724                    0                 0                  1
33775                    0                 0                  1
33945                    0                 1                  0
34061                    0                 0                  0
34170                    1                 0                  0
34462                    0                 0                  0
34707                    0                 1                  0
34735                    0                 0                  0
34738                    0                 1                  0
34837                    0                 0                  0
35125                    0                 0                  0
35591                    0                 1                  0
35596                    0                 0                  1
35644                    0                 0                  1
35802                    1                 0                  0
35864                    0                 0                  0
36893                    1                 0                  0
37203                    0                 0                  1
37503                    0                 0                  1
37792                    0                 1                  0
37869                    0                 0                  0
38178                    1                 0                  0
38625                    0                 0                  0
38821                    0                 0                  0
38883                    0                 0                  1

       home_team_Italy  home_team_Japan  away_team_Argentina  \
398                  0                0                    0
399                  0                0                    0
424                  0                0                    0
454                  0                0                    0
490                  0                0                    1
497                  0                0                    1
542                  0                0                    0
585                  0                0                    0
654                  0                0                    1
659                  0                0                    1
669                  1                0                    0
741                  0                0                    0
746                  0                0                    0
749                  0                0                    0
830                  0                0                    0
907                  0                0                    0
911                  0                0                    0
1165                 1                0                    0
1238                 0                0                    0
1514                 1                0                    0
1885                 0                0                    0
1913                 0                0                    0
1915                 0                0                    0
2066                 0                0                    0
2135                 0                0                    1
2138                 0                0                    1
2160                 1                0                    0
2216                 0                0                    0
2221                 0                0                    1
2224                 0                0                    1
...                ...              ...                  ...
32338                0                0                    0
32756                0                0                    0
32970                0                0                    0
32973                0                0                    1
33633                0                0                    1
33724                0                0                    0
33775                0                0                    1
33945                0                0                    1
34061                0                1                    0
34170                0                0                    0
34462                1                0                    0
34707                0                0                    0
34735                1                0                    0
34738                0                0                    0
34837                1                0                    1
35125                1                0                    0
35591                0                0                    0
35596                0                0                    1
35644                0                0                    1
35802                0                0                    0
35864                0                1                    0
36893                0                0                    0
37203                0                0                    0
37503                0                0                    0
37792                0                0                    1
37869                1                0                    0
38178                0                0                    0
38625                0                1                    0
38821                1                0                    1
38883                0                0                    0

       away_team_Brazil  away_team_Germany  away_team_Italy  away_team_Japan
398                   1                  0                0                0
399                   1                  0                0                0
424                   1                  0                0                0
454                   1                  0                0                0
490                   0                  0                0                0
497                   0                  0                0                0
542                   1                  0                0                0
585                   1                  0                0                0
654                   0                  0                0                0
659                   0                  0                0                0
669                   0                  1                0                0
741                   1                  0                0                0
746                   1                  0                0                0
749                   1                  0                0                0
830                   0                  0                1                0
907                   1                  0                0                0
911                   1                  0                0                0
1165                  0                  1                0                0
1238                  0                  0                1                0
1514                  0                  1                0                0
1885                  0                  0                1                0
1913                  1                  0                0                0
1915                  1                  0                0                0
2066                  0                  0                1                0
2135                  0                  0                0                0
2138                  0                  0                0                0
2160                  0                  1                0                0
2216                  0                  0                1                0
2221                  0                  0                0                0
2224                  0                  0                0                0
...                 ...                ...              ...              ...
32338                 0                  0                1                0
32756                 1                  0                0                0
32970                 1                  0                0                0
32973                 0                  0                0                0
33633                 0                  0                0                0
33724                 0                  0                1                0
33775                 0                  0                0                0
33945                 0                  0                0                0
34061                 1                  0                0                0
34170                 1                  0                0                0
34462                 1                  0                0                0
34707                 0                  0                0                1
34735                 0                  0                0                1
34738                 0                  0                1                0
34837                 0                  0                0                0
35125                 0                  1                0                0
35591                 0                  1                0                0
35596                 0                  0                0                0
35644                 0                  0                0                0
35802                 1                  0                0                0
35864                 1                  0                0                0
36893                 1                  0                0                0
37203                 0                  0                1                0
37503                 0                  0                1                0
37792                 0                  0                0                0
37869                 0                  1                0                0
38178                 1                  0                0                0
38625                 1                  0                0                0
38821                 0                  0                0                0
38883                 1                  0                0                0

[235 rows x 10 columns]

## データフレーム同士の結合

In [21]:
#元のデータフレームとチームをダミー変数化したデータフレームを結合
df5 = pd.concat([df5,team_dummy],axis=1)

NameError: name 'team_dummy' is not defined

### 不要な変数は消去する

In [27]:
#ダミー変数化したもの、tournament,city,country,neautralを消去
df5 = df5.drop(["home_team","away_team","tournament","city","country","neutral"],axis=1)
print(df5.head())

KeyError: "['home_team' 'away_team' 'tournament' 'city' 'country' 'neutral'] not found in axis"

## データからランダムにデータを抽出する

In [28]:
#ランダムに1行抽出
print(df5.sample())

#ランダムに3行抽出
print(df5.sample(3))

#ランダムに5行抽出
print(df5.sample(5))

             date  home_score  away_score win_country  home_win
14000  1986-03-12           2           0     Germany       1.0
            date  home_score  away_score win_country  home_win
454   1917-10-03           4           2   Argentina       1.0
4440  1959-04-04           1           1         NaN       0.0
3910  1956-06-24           1           0   Argentina       1.0
             date  home_score  away_score win_country  home_win
27004  2005-02-09           2           2         NaN       0.0
1514   1933-01-01           3           1       Italy       1.0
7775   1971-07-28           1           1         NaN       0.0
15779  1989-12-21           0           0         NaN       0.0
2331   1942-01-17           2           1   Argentina       1.0

### トレインデータ（学習用）とテストデータ（検証用）の分割

In [29]:
from sklearn.model_selection import train_test_split


#25%をテストデータとして使う
train_df5, test_df5 = train_test_split(df5)
print(len(train_df5),len(test_df5))

#50%をテストデータとして使う
train_df5, test_df5 = train_test_split(df5,test_size = 0.5)
print(len(train_df5),len(test_df5))

176 59
117 118